In [1]:
# Na bazie OpenF1Api via https://openf1.org

In [2]:
# wyznaczenie liczby sezonów - lata od tzw "ery hybrydowej" 2014-2024
def seasons_count(end_year=2024):
    start_year = 2014
    seasons = list()
    for year in range(start_year, end_year + 1):
        seasons.append(year)
    return seasons

seasons = seasons_count(2024)
print(seasons)

[2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

In [3]:
# formatowanie pól daty i czasu

from datetime import datetime

def format_datetime_fields(datetime_string):
    dt = datetime.fromisoformat(datetime_string.replace('Z', '+00:00'))
    return dt.date().isoformat(), dt.time().isoformat()

In [4]:
# pobiernie meetiings - race week 
import requests
import pandas as pd

def get_all_meetings(start_season=2014, end_season=2024):
    meetings = []
    
    for year in range(start_season, end_season + 1):
        url = f"https://api.openf1.org/v1/meetings?year={year}"
        response = requests.get(url)
        
        if response.status_code == 200:
            data = response.json()
            
            if isinstance(data, list) and len(data) > 0:
                for meeting in data:
                    date_start, time_start = format_datetime_fields(meeting['date_start'])
                    meetings.append({
                        "circuit_key": meeting['circuit_key'],
                        "circuit_short_name": meeting['circuit_short_name'],
                        "country_code": meeting['country_code'],
                        "country_key": meeting['country_key'],
                        "country_name": meeting['country_name'],
                        "date_start": date_start,
                        "time_start": time_start,
                        "gmt_offset": meeting['gmt_offset'],
                        "location": meeting['location'],
                        "meeting_key": meeting['meeting_key'],
                        "meeting_name": meeting['meeting_name'],
                        "meeting_official_name": meeting['meeting_official_name'],
                        "year": meeting['year'],
                    })
                print(f"Fetched {len(data)} meetings for {year}")
            else:
                print(f"No meetings found for {year}")
        else:
            print(f"Error fetching data for {year}: {response.status_code}")
    
    return pd.DataFrame(meetings)

In [5]:
all_meetings_df = get_all_meetings(2014, 2024)
all_meetings_df.head()

No meetings found for 2014
No meetings found for 2015
No meetings found for 2016
No meetings found for 2017
No meetings found for 2018
No meetings found for 2019
No meetings found for 2020
No meetings found for 2021
No meetings found for 2022
Fetched 23 meetings for 2023
Fetched 25 meetings for 2024

,circuit_key,circuit_short_name,country_code,country_key,country_name,date_start,time_start,gmt_offset,location,meeting_key,meeting_name,meeting_official_name,year
0,63,Sakhir,BRN,36,Bahrain,2023-02-23,07:00:00,03:00:00,Sakhir,1140,Pre-Season Testing,FORMULA 1 ARAMCO PRE-SEASON TESTING 2023,2023
1,63,Sakhir,BRN,36,Bahrain,2023-03-03,11:30:00,03:00:00,Sakhir,1141,Bahrain Grand Prix,FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2023,2023
2,149,Jeddah,KSA,153,Saudi Arabia,2023-03-17,13:30:00,03:00:00,Jeddah,1142,Saudi Arabian Grand Prix,FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2023,2023
3,10,Melbourne,AUS,5,Australia,2023-03-31,01:30:00,11:00:00,Melbourne,1143,Australian Grand Prix,FORMULA 1 ROLEX AUSTRALIAN GRAND PRIX 2023,2023
4,144,Baku,AZE,30,Azerbaijan,2023-04-28,09:30:00,04:00:00,Baku,1207,Azerbaijan Grand Prix,FORMULA 1 AZERBAIJAN GRAND PRIX 2023,2023

In [6]:
# pobierz kolumny z tabeli meetings
meetings_columns = all_meetings_df.columns.tolist()
print("Meetings columns:", meetings_columns)

Meetings columns: ['circuit_key', 'circuit_short_name', 'country_code', 'country_key', 'country_name', 'date_start', 'time_start', 'gmt_offset', 'location', 'meeting_key', 'meeting_name', 'meeting_official_name', 'year']

In [7]:
meetings_key_unique = all_meetings_df['meeting_key'].unique()
print(meetings_key_unique)

[1140 1141 1142 1143 1207 1208 1210 1211 1212 1213 1214 1215 1216 1217
 1218 1219 1220 1221 1222 1223 1224 1225 1226 1228 1229 1230 1231 1232
 1233 1234 1235 1236 1237 1238 1239 1240 1241 1242 1243 1244 1245 1246
 1247 1248 1249 1250 1251 1252]

In [8]:
# pobranie poszczególnych wyścigów w określonych sezonach - sessions
import requests
import pandas as pd
from time import sleep

def get_all_sessions(meetings):
    sessions = []
    
    for meeting in meetings_key_unique:
        url = f"https://api.openf1.org/v1/sessions?meeting_key={meeting}"
        response = requests.get(url)
        
        if response.status_code == 200:
            data = response.json()
            
            if isinstance(data, list) and len(data) > 0:
                for session in data:
                    # Parse dates and times
                    date_start, time_start = format_datetime_fields(session['date_start'])
                    date_end, time_end = format_datetime_fields(session['date_end'])
                    
                    sessions.append({
                        'meeting_key': session['meeting_key'],
                        'year': session['year'],
                        'session_key': session['session_key'],
                        'session_type': session['session_type'],
                        'session_name': session['session_name'],
                        'date_start': date_start,
                        'time_start': time_start,
                        'date_end': date_end,
                        'time_end': time_end,
                        'gmt_offset': session['gmt_offset'],
                        'location': session['location'],
                        'country_name': session['country_name'],
                        'country_code': session['country_code'],
                        'circuit_short_name': session['circuit_short_name'],
                    })
                
                print(f"Fetched {len(data)} sessions for {meeting}")
            else:
                print(f"No sessions found for {meeting}")
        else:
            print(f"Error fetching data for {meeting}: {response.status_code}")
        sleep(1)
    return pd.DataFrame(sessions)

# Pobierz wszystkie sesje 2014–2024
all_sessions_df = get_all_sessions(meetings_key_unique)

Fetched 3 sessions for 1140
Fetched 5 sessions for 1141
Fetched 5 sessions for 1142
Fetched 5 sessions for 1143
Fetched 5 sessions for 1207
Fetched 5 sessions for 1208
Fetched 5 sessions for 1210
Fetched 5 sessions for 1211
Fetched 5 sessions for 1212
Fetched 5 sessions for 1213
Fetched 5 sessions for 1214
Fetched 5 sessions for 1215
Fetched 5 sessions for 1216
Fetched 5 sessions for 1217
Fetched 5 sessions for 1218
Fetched 5 sessions for 1219
Fetched 5 sessions for 1220
Fetched 5 sessions for 1221
Fetched 5 sessions for 1222
Fetched 5 sessions for 1223
Fetched 5 sessions for 1224
Fetched 5 sessions for 1225
Fetched 5 sessions for 1226
Fetched 3 sessions for 1228
Fetched 5 sessions for 1229
Fetched 5 sessions for 1230
Fetched 5 sessions for 1231
Fetched 5 sessions for 1232
Fetched 5 sessions for 1233
Fetched 5 sessions for 1234
Fetched 5 sessions for 1235
Fetched 5 sessions for 1236
Fetched 5 sessions for 1237
Fetched 5 sessions for 1238
Fetched 5 sessions for 1239
Fetched 5 sessions for 1240
Fetched 5 sessions for 1241
Fetched 5 sessions for 1242
Fetched 5 sessions for 1243
Fetched 5 sessions for 1244
Fetched 5 sessions for 1245
Fetched 5 sessions for 1246
Fetched 5 sessions for 1247
Fetched 5 sessions for 1248
Fetched 5 sessions for 1249
Fetched 5 sessions for 1250
Fetched 5 sessions for 1251
Fetched 5 sessions for 1252

In [9]:
all_sessions_df.head()

,meeting_key,year,session_key,session_type,session_name,date_start,time_start,date_end,time_end,gmt_offset,location,country_name,country_code,circuit_short_name
0,1140,2023,9222,Practice,Practice 1,2023-02-23,07:00:00,2023-02-23,16:30:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir
1,1140,2023,7763,Practice,Practice 2,2023-02-24,07:00:00,2023-02-24,16:30:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir
2,1140,2023,7764,Practice,Practice 3,2023-02-25,07:00:00,2023-02-25,16:30:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir
3,1141,2023,7765,Practice,Practice 1,2023-03-03,11:30:00,2023-03-03,12:30:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir
4,1141,2023,7766,Practice,Practice 2,2023-03-03,15:00:00,2023-03-03,16:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir

In [10]:
all_sessions_df.tail(100)

,meeting_key,year,session_key,session_type,session_name,date_start,time_start,date_end,time_end,gmt_offset,location,country_name,country_code,circuit_short_name
136,1233,2024,9663,Practice,Practice 1,2024-04-19,03:30:00,2024-04-19,04:30:00,08:00:00,Shanghai,China,CHN,Shanghai
137,1233,2024,9668,Qualifying,Sprint Qualifying,2024-04-19,07:30:00,2024-04-19,08:14:00,08:00:00,Shanghai,China,CHN,Shanghai
138,1233,2024,9672,Race,Sprint,2024-04-20,03:00:00,2024-04-20,03:30:00,08:00:00,Shanghai,China,CHN,Shanghai
139,1233,2024,9664,Qualifying,Qualifying,2024-04-20,07:00:00,2024-04-20,08:00:00,08:00:00,Shanghai,China,CHN,Shanghai
140,1233,2024,9673,Race,Race,2024-04-21,07:00:00,2024-04-21,09:00:00,08:00:00,Shanghai,China,CHN,Shanghai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,1252,2024,9461,Practice,Practice 1,2024-12-06,09:30:00,2024-12-06,10:30:00,04:00:00,Yas Island,United Arab Emirates,UAE,Yas Marina Circuit
232,1252,2024,9656,Practice,Practice 2,2024-12-06,13:00:00,2024-12-06,14:00:00,04:00:00,Yas Island,United Arab Emirates,UAE,Yas Marina Circuit
233,1252,2024,9657,Practice,Practice 3,2024-12-07,10:30:00,2024-12-07,11:30:00,04:00:00,Yas Island,United Arab Emirates,UAE,Yas Marina Circuit
234,1252,2024,9658,Qualifying,Qualifying,2024-12-07,14:00:00,2024-12-07,15:00:00,04:00:00,Yas Island,United Arab Emirates,UAE,Yas Marina Circuit
235,1252,2024,9662,Race,Race,2024-12-08,13:00:00,2024-12-08,15:00:00,04:00:00,Yas Island,United Arab Emirates,UAE,Yas Marina Circuit

In [11]:
# pobranie kolumn z tabeli sessions
sessions_columns = all_sessions_df.columns.tolist()
print("Sessions columns:", sessions_columns)

Sessions columns: ['meeting_key', 'year', 'session_key', 'session_type', 'session_name', 'date_start', 'time_start', 'date_end', 'time_end', 'gmt_offset', 'location', 'country_name', 'country_code', 'circuit_short_name']

In [12]:
sessions_key_unique= all_sessions_df['session_key'].unique()
print(sessions_key_unique)

[9222 7763 7764 7765 7766 7767 7768 7953 7772 7773 7774 7775 7779 7780
 7781 7782 7783 7787 9063 9064 9278 9069 9070 9071 9072 9073 9074 9078
 9087 9088 9089 9090 9094 9095 9096 9097 9098 9102 9103 9104 9105 9106
 9110 9111 9112 9282 9117 9118 9119 9120 9121 9122 9126 9223 9127 9128
 9129 9133 9134 9135 9286 9140 9141 9142 9143 9144 9145 9149 9150 9151
 9152 9153 9157 9158 9159 9160 9161 9165 9166 9167 9168 9169 9173 9214
 9215 9298 9220 9221 9206 9207 9294 9212 9213 9174 9175 9176 9177 9181
 9198 9304 9308 9204 9205 9182 9183 9184 9314 9189 9190 9191 9192 9193
 9197 9462 9463 9464 9465 9466 9467 9468 9472 9473 9474 9475 9476 9480
 9481 9482 9483 9484 9488 9489 9490 9491 9492 9496 9663 9668 9672 9664
 9673 9497 9502 9506 9498 9507 9508 9509 9510 9511 9515 9516 9517 9518
 9519 9523 9524 9525 9526 9527 9531 9532 9533 9534 9535 9539 9540 9545
 9549 9541 9550 9551 9552 9553 9554 9558 9559 9560 9561 9562 9566 9567
 9568 9569 9570 9574 9575 9576 9577 9578 9582 9583 9584 9585 9586 9590
 9591 9592 9593 9594 9598 9599 9600 9601 9602 9606 9607 9612 9616 9608
 9617 9618 9619 9620 9621 9625 9626 9631 9635 9627 9636 9637 9638 9639
 9640 9644 9645 9650 9654 9646 9655 9461 9656 9657 9658 9662]

In [13]:
# pobranie kierowcow poszczegolnych zespołów dka kazdego z meeting w sessions

def get_all_drivers(unique_meetings_keys):
    drivers = []
    for meeting_key in unique_meetings_keys:
        url = f"https://api.openf1.org/v1/drivers?meeting_key={meeting_key}"
        response = requests.get(url)
        
        if response.status_code == 200:
            data = response.json()
            
            if isinstance(data, list) and len(data) > 0:
                for driver in data:
                    drivers.append({
                        'driver_number': driver.get('driver_number'),
                        'broadcast_name': driver.get('broadcast_name'),
                        'full_name': driver.get('full_name'),
                        'first_name': driver.get('first_name'),
                        'last_name': driver.get('last_name'),
                        'name_acronym': driver.get('name_acronym'),
                        'country_code': driver.get('country_code'),
                        'team_name': driver.get('team_name'),
                        'meeting_key': meeting_key,
                        'session_key': driver.get('session_key')
                    })
                print(f"Fetched {len(data)} drivers for meeting {meeting_key}")
            else:
                print(f"No drivers found for meeting {meeting_key}")
        else:
            print(f"Error fetching data for meeting {meeting_key}: {response.status_code}")
        sleep(1)
    return pd.DataFrame(drivers)

In [14]:
drivers_df = get_all_drivers(meetings_key_unique)

Fetched 53 drivers for meeting 1140
Fetched 100 drivers for meeting 1141
Fetched 100 drivers for meeting 1142
Fetched 100 drivers for meeting 1143
Fetched 99 drivers for meeting 1207
Fetched 100 drivers for meeting 1208
Fetched 100 drivers for meeting 1210
Fetched 100 drivers for meeting 1211
Fetched 100 drivers for meeting 1212
Fetched 100 drivers for meeting 1213
Fetched 100 drivers for meeting 1214
Fetched 115 drivers for meeting 1215
Fetched 100 drivers for meeting 1216
Fetched 100 drivers for meeting 1217
Fetched 100 drivers for meeting 1218
Fetched 99 drivers for meeting 1219
Fetched 100 drivers for meeting 1220
Fetched 100 drivers for meeting 1221
Fetched 100 drivers for meeting 1222
Fetched 100 drivers for meeting 1223
Fetched 100 drivers for meeting 1224
Fetched 100 drivers for meeting 1225
Fetched 100 drivers for meeting 1226
Fetched 60 drivers for meeting 1228
Fetched 100 drivers for meeting 1229
Fetched 100 drivers for meeting 1230
Fetched 97 drivers for meeting 1231
Fetched 100 drivers for meeting 1232
Fetched 100 drivers for meeting 1233
Fetched 100 drivers for meeting 1234
Fetched 100 drivers for meeting 1235
Fetched 100 drivers for meeting 1236
Fetched 100 drivers for meeting 1237
Fetched 100 drivers for meeting 1238
Fetched 100 drivers for meeting 1239
Fetched 100 drivers for meeting 1240
Fetched 100 drivers for meeting 1241
Fetched 100 drivers for meeting 1242
Fetched 100 drivers for meeting 1243
Fetched 100 drivers for meeting 1244
Fetched 100 drivers for meeting 1245
Fetched 100 drivers for meeting 1246
Fetched 100 drivers for meeting 1247
Fetched 100 drivers for meeting 1248
Fetched 100 drivers for meeting 1249
Fetched 100 drivers for meeting 1250
Fetched 100 drivers for meeting 1251
Fetched 100 drivers for meeting 1252

In [15]:
drivers_df.head()

,driver_number,broadcast_name,full_name,first_name,last_name,name_acronym,country_code,team_name,meeting_key,session_key
0,1,M VERSTAPPEN,Max VERSTAPPEN,Max,Verstappen,VER,NED,Red Bull Racing,1140,7763
1,2,L SARGEANT,Logan SARGEANT,Logan,Sargeant,SAR,USA,Williams,1140,7763
2,4,L NORRIS,Lando NORRIS,Lando,Norris,NOR,GBR,McLaren,1140,7763
3,10,P GASLY,Pierre GASLY,Pierre,Gasly,GAS,FRA,Alpine,1140,7763
4,11,S PEREZ,Sergio PEREZ,Sergio,Perez,PER,MEX,Red Bull Racing,1140,7763

In [16]:
# pobranie kolumn z tabeli drivers
drivers_columns = drivers_df.columns.tolist()
print("Drivers columns:", drivers_columns)

Drivers columns: ['driver_number', 'broadcast_name', 'full_name', 'first_name', 'last_name', 'name_acronym', 'country_code', 'team_name', 'meeting_key', 'session_key']

In [17]:
unique_drivers = drivers_df['broadcast_name'].unique()

In [18]:
print(unique_drivers)

['M VERSTAPPEN' 'L SARGEANT' 'L NORRIS' 'P GASLY' 'S PEREZ' 'F ALONSO'
 'C LECLERC' 'K MAGNUSSEN' 'N DE VRIES' 'Y TSUNODA' 'G ZHOU'
 'N HULKENBERG' 'E OCON' 'L HAMILTON' 'C SAINZ' 'G RUSSELL' 'O PIASTRI'
 'A ALBON' 'F DRUGOVICH' 'V BOTTAS' 'L STROLL' 'D RICCIARDO' 'P ARON'
 'D BEGANOVIC' "Z O'SULLIVAN" 'L FORNAROLI' 'G BORTOLETO' 'O GOETHE'
 'K FREDERICK' 'G SAUCY' 'N TSOLOV' 'F COLAPINTO' 'M BOYA' 'J EDGAR'
 'S MONTOYA' 'G MINI' 'L BROWNING' 'C COLLET' 'R VILLAGOMEZ' 'T SMITH'
 'O GRAY' 'M ESTERSON' 'I COHEN' 'J MARTI' 'C MANSELL' 'H BARTER'
 'N BEDRIN' 'T BARNARD' 'A GARCIA' 'S FLOERSCH' 'R FARIA' 'W SHIN'
 'R SHWARTZMAN' 'L LAWSON' 'I HADJAR' 'F VESTI' 'O BEARMAN' 'J DOOHAN'
 'T POURCHAIRE' "P O'WARD" 'J DENNIS' 'A IWASA' 'A ANTONELLI' 'R HIRAKAWA'
 'A LECLERC']

In [19]:
# Funkcja do pobierania końcowej tabeli wyników dla sesji
def get_final_session_results(session_keys, include_driver_details=True):
    all_results = []
    
    for session_key in session_keys:
        url = f"https://api.openf1.org/v1/position?session_key={session_key}"
        response = requests.get(url)
        
        if response.status_code == 200:
            data = response.json()
            
            if isinstance(data, list) and len(data) > 0:
                # Sortuj dane według daty (najnowsze na końcu)
                data_sorted = sorted(data, key=lambda x: x.get('date', ''))
                
                # Znajdź ostatnie pozycje dla każdego kierowcy
                latest_positions = {}
                for record in data_sorted:
                    driver_number = record.get('driver_number')
                    if driver_number:
                        latest_positions[driver_number] = record
                
                date, time = format_datetime_fields(data_sorted[-1]['date'])
                # Dodaj wszystkie końcowe pozycje do wyników
                for driver_number, record in latest_positions.items():
                    result = {
                        'session_key': session_key,
                        'driver_number': driver_number,
                        'position': record.get('position'),
                        'date': date,
                        'time': time,
                        'meeting_key': record.get('meeting_key')
                    }
                    all_results.append(result)
                
                print(f"Session {session_key}: Pobrano {len(latest_positions)} końcowych pozycji")
            else:
                print(f"Session {session_key}: Brak danych pozycji")
        else:
            print(f"Error fetching data for session {session_key}: {response.status_code}")
        
        sleep(0.5)  # Krótka pauza między requestami
    
    results_df = pd.DataFrame(all_results)
    
    if not results_df.empty and include_driver_details:
        # Połącz z danymi o sesjach
        results_df = results_df.merge(
            all_sessions_df[['session_key', 'session_name', 'year', 'location', 'country_name', 'circuit_short_name']], 
            on='session_key', 
            how='left'
        )
        
        # Połącz z danymi o kierowcach używając session_key zamiast meeting_key
        results_df = results_df.merge(
            drivers_df[['driver_number', 'session_key', 'broadcast_name', 'full_name', 'team_name']].drop_duplicates(), 
            on=['driver_number', 'session_key'], 
            how='left'
        )
    
    return results_df

In [20]:
results_df = get_final_session_results(sessions_key_unique, include_driver_details=True)
results_df.head()

Session 9222: Pobrano 19 końcowych pozycji
Session 7763: Pobrano 17 końcowych pozycji
Session 7764: Pobrano 17 końcowych pozycji
Session 7765: Pobrano 20 końcowych pozycji
Session 7766: Pobrano 20 końcowych pozycji
Session 7767: Pobrano 20 końcowych pozycji
Session 7768: Pobrano 20 końcowych pozycji
Session 7953: Pobrano 20 końcowych pozycji
Session 7772: Pobrano 20 końcowych pozycji
Session 7773: Pobrano 20 końcowych pozycji
Session 7774: Pobrano 20 końcowych pozycji
Session 7775: Pobrano 20 końcowych pozycji
Session 7779: Pobrano 20 końcowych pozycji
Session 7780: Pobrano 20 końcowych pozycji
Session 7781: Pobrano 20 końcowych pozycji
Session 7782: Pobrano 20 końcowych pozycji
Session 7783: Pobrano 20 końcowych pozycji
Session 7787: Pobrano 20 końcowych pozycji
Session 9063: Pobrano 20 końcowych pozycji
Session 9064: Pobrano 20 końcowych pozycji
Session 9278: Pobrano 20 końcowych pozycji
Session 9069: Pobrano 19 końcowych pozycji
Session 9070: Pobrano 20 końcowych pozycji
Session 9071: Pobrano 20 końcowych pozycji
Session 9072: Pobrano 20 końcowych pozycji
Session 9073: Pobrano 20 końcowych pozycji
Session 9074: Pobrano 20 końcowych pozycji
Session 9078: Pobrano 20 końcowych pozycji
Session 9087: Pobrano 20 końcowych pozycji
Session 9088: Pobrano 20 końcowych pozycji
Session 9089: Pobrano 20 końcowych pozycji
Session 9090: Pobrano 20 końcowych pozycji
Session 9094: Pobrano 20 końcowych pozycji
Session 9095: Pobrano 20 końcowych pozycji
Session 9096: Pobrano 20 końcowych pozycji
Session 9097: Pobrano 20 końcowych pozycji
Session 9098: Pobrano 20 końcowych pozycji
Session 9102: Pobrano 20 końcowych pozycji
Session 9103: Pobrano 20 końcowych pozycji
Session 9104: Pobrano 20 końcowych pozycji
Session 9105: Pobrano 20 końcowych pozycji
Session 9106: Pobrano 20 końcowych pozycji
Session 9110: Pobrano 20 końcowych pozycji
Session 9111: Pobrano 20 końcowych pozycji
Session 9112: Pobrano 20 końcowych pozycji
Session 9282: Pobrano 20 końcowych pozycji
Session 9117: Pobrano 20 końcowych pozycji
Session 9118: Pobrano 20 końcowych pozycji
Session 9119: Pobrano 20 końcowych pozycji
Session 9120: Pobrano 20 końcowych pozycji
Session 9121: Pobrano 20 końcowych pozycji
Session 9122: Pobrano 20 końcowych pozycji
Session 9126: Pobrano 20 końcowych pozycji
Session 9223: Pobrano 20 końcowych pozycji
Session 9127: Pobrano 20 końcowych pozycji
Session 9128: Pobrano 20 końcowych pozycji
Session 9129: Pobrano 20 końcowych pozycji
Session 9133: Pobrano 20 końcowych pozycji
Session 9134: Pobrano 20 końcowych pozycji
Session 9135: Pobrano 20 końcowych pozycji
Session 9286: Pobrano 20 końcowych pozycji
Session 9140: Pobrano 20 końcowych pozycji
Session 9141: Pobrano 20 końcowych pozycji
Session 9142: Pobrano 20 końcowych pozycji
Session 9143: Pobrano 20 końcowych pozycji
Session 9144: Pobrano 20 końcowych pozycji
Session 9145: Pobrano 20 końcowych pozycji
Session 9149: Pobrano 20 końcowych pozycji
Session 9150: Pobrano 20 końcowych pozycji
Session 9151: Pobrano 20 końcowych pozycji
Session 9152: Pobrano 20 końcowych pozycji
Error fetching data for session 9153: 429
Session 9157: Pobrano 20 końcowych pozycji
Session 9158: Pobrano 20 końcowych pozycji
Session 9159: Pobrano 20 końcowych pozycji
Session 9160: Pobrano 20 końcowych pozycji
Session 9161: Pobrano 20 końcowych pozycji
Session 9165: Pobrano 19 końcowych pozycji
Session 9166: Pobrano 20 końcowych pozycji
Session 9167: Pobrano 20 końcowych pozycji
Session 9168: Pobrano 20 końcowych pozycji
Session 9169: Pobrano 20 końcowych pozycji
Session 9173: Pobrano 20 końcowych pozycji
Session 9214: Pobrano 20 końcowych pozycji
Session 9215: Pobrano 20 końcowych pozycji
Session 9298: Pobrano 20 końcowych pozycji
Session 9220: Pobrano 20 końcowych pozycji
Session 9221: Pobrano 20 końcowych pozycji
Session 9206: Pobrano 20 końcowych pozycji
Session 9207: Pobrano 20 końcowych pozycji
Session 9294: Pobrano 20 końcowych pozycji
Session 9212: Pobrano 20 końcowych pozycji
Session 9213: Pobrano 20 końcowych pozycji
Session 9174: Pobrano 20 końcowych pozycji
Session 9175: Pobrano 20 końcowych pozycji
Session 9176: Pobrano 20 końcowych pozycji
Session 9177: Pobrano 20 końcowych pozycji
Session 9181: Pobrano 20 końcowych pozycji
Session 9198: Pobrano 20 końcowych pozycji
Session 9304: Pobrano 20 końcowych pozycji
Session 9308: Pobrano 20 końcowych pozycji
Session 9204: Pobrano 20 końcowych pozycji
Session 9205: Pobrano 20 końcowych pozycji
Session 9182: Pobrano 20 końcowych pozycji
Session 9183: Pobrano 20 końcowych pozycji
Session 9184: Pobrano 20 końcowych pozycji
Session 9314: Pobrano 20 końcowych pozycji
Session 9189: Pobrano 20 końcowych pozycji
Session 9190: Pobrano 20 końcowych pozycji
Session 9191: Pobrano 20 końcowych pozycji
Session 9192: Pobrano 20 końcowych pozycji
Session 9193: Pobrano 20 końcowych pozycji
Error fetching data for session 9197: 429
Session 9462: Pobrano 20 końcowych pozycji
Session 9463: Pobrano 20 końcowych pozycji
Session 9464: Pobrano 20 końcowych pozycji
Session 9465: Pobrano 20 końcowych pozycji
Session 9466: Pobrano 20 końcowych pozycji
Session 9467: Pobrano 20 końcowych pozycji
Session 9468: Pobrano 20 końcowych pozycji
Session 9472: Pobrano 20 końcowych pozycji
Session 9473: Pobrano 20 końcowych pozycji
Session 9474: Pobrano 20 końcowych pozycji
Session 9475: Pobrano 20 końcowych pozycji
Session 9476: Pobrano 20 końcowych pozycji
Session 9480: Pobrano 20 końcowych pozycji
Session 9481: Pobrano 20 końcowych pozycji
Session 9482: Pobrano 20 końcowych pozycji
Session 9483: Pobrano 19 końcowych pozycji
Session 9484: Pobrano 19 końcowych pozycji
Session 9488: Pobrano 19 końcowych pozycji
Session 9489: Pobrano 20 końcowych pozycji
Session 9490: Pobrano 20 końcowych pozycji
Session 9491: Pobrano 20 końcowych pozycji
Session 9492: Pobrano 20 końcowych pozycji
Session 9496: Pobrano 20 końcowych pozycji
Session 9663: Pobrano 20 końcowych pozycji
Session 9668: Pobrano 20 końcowych pozycji
Session 9672: Pobrano 20 końcowych pozycji
Session 9664: Pobrano 20 końcowych pozycji
Session 9673: Pobrano 20 końcowych pozycji
Session 9497: Pobrano 20 końcowych pozycji
Session 9502: Pobrano 20 końcowych pozycji
Session 9506: Pobrano 20 końcowych pozycji
Session 9498: Pobrano 20 końcowych pozycji
Session 9507: Pobrano 20 końcowych pozycji
Session 9508: Pobrano 20 końcowych pozycji
Session 9509: Pobrano 20 końcowych pozycji
Session 9510: Pobrano 20 końcowych pozycji
Session 9511: Pobrano 20 końcowych pozycji
Session 9515: Pobrano 20 końcowych pozycji
Session 9516: Pobrano 20 końcowych pozycji
Session 9517: Pobrano 20 końcowych pozycji
Session 9518: Pobrano 20 końcowych pozycji
Session 9519: Pobrano 20 końcowych pozycji
Session 9523: Pobrano 20 końcowych pozycji
Session 9524: Pobrano 20 końcowych pozycji
Session 9525: Pobrano 20 końcowych pozycji
Session 9526: Pobrano 20 końcowych pozycji
Session 9527: Pobrano 20 końcowych pozycji
Session 9531: Pobrano 20 końcowych pozycji
Session 9532: Pobrano 20 końcowych pozycji
Session 9533: Pobrano 20 końcowych pozycji
Session 9534: Pobrano 20 końcowych pozycji
Session 9535: Pobrano 20 końcowych pozycji
Session 9539: Pobrano 20 końcowych pozycji
Session 9540: Pobrano 20 końcowych pozycji
Session 9545: Pobrano 20 końcowych pozycji
Session 9549: Pobrano 20 końcowych pozycji
Session 9541: Pobrano 20 końcowych pozycji
Session 9550: Pobrano 20 końcowych pozycji
Session 9551: Pobrano 20 końcowych pozycji
Session 9552: Pobrano 20 końcowych pozycji
Session 9553: Pobrano 20 końcowych pozycji
Session 9554: Pobrano 20 końcowych pozycji
Session 9558: Pobrano 20 końcowych pozycji
Session 9559: Pobrano 20 końcowych pozycji
Session 9560: Pobrano 20 końcowych pozycji
Session 9561: Pobrano 20 końcowych pozycji
Session 9562: Pobrano 20 końcowych pozycji
Session 9566: Pobrano 20 końcowych pozycji
Session 9567: Pobrano 20 końcowych pozycji
Session 9568: Pobrano 20 końcowych pozycji
Session 9569: Pobrano 20 końcowych pozycji
Session 9570: Pobrano 20 końcowych pozycji
Session 9574: Pobrano 20 końcowych pozycji
Session 9575: Pobrano 20 końcowych pozycji
Session 9576: Pobrano 20 końcowych pozycji
Session 9577: Pobrano 20 końcowych pozycji
Session 9578: Pobrano 20 końcowych pozycji
Session 9582: Pobrano 20 końcowych pozycji
Session 9583: Pobrano 20 końcowych pozycji
Session 9584: Pobrano 20 końcowych pozycji
Session 9585: Pobrano 20 końcowych pozycji
Session 9586: Pobrano 20 końcowych pozycji
Session 9590: Pobrano 20 końcowych pozycji
Error fetching data for session 9591: 429
Session 9592: Pobrano 20 końcowych pozycji
Session 9593: Pobrano 20 końcowych pozycji
Session 9594: Pobrano 20 końcowych pozycji
Session 9598: Pobrano 20 końcowych pozycji
Session 9599: Pobrano 20 końcowych pozycji
Session 9600: Pobrano 20 końcowych pozycji
Session 9601: Pobrano 20 końcowych pozycji
Session 9602: Pobrano 20 końcowych pozycji
Session 9606: Pobrano 20 końcowych pozycji
Session 9607: Pobrano 20 końcowych pozycji
Session 9612: Pobrano 20 końcowych pozycji
Session 9616: Pobrano 20 końcowych pozycji
Session 9608: Pobrano 20 końcowych pozycji
Session 9617: Pobrano 20 końcowych pozycji
Session 9618: Pobrano 20 końcowych pozycji
Session 9619: Pobrano 20 końcowych pozycji
Session 9620: Pobrano 20 końcowych pozycji
Session 9621: Pobrano 20 końcowych pozycji
Session 9625: Pobrano 20 końcowych pozycji
Session 9626: Pobrano 20 końcowych pozycji
Session 9631: Pobrano 20 końcowych pozycji
Session 9635: Pobrano 20 końcowych pozycji
Session 9627: Pobrano 20 końcowych pozycji
Session 9636: Pobrano 20 końcowych pozycji
Session 9637: Pobrano 20 końcowych pozycji
Session 9638: Pobrano 20 końcowych pozycji
Session 9639: Pobrano 20 końcowych pozycji
Session 9640: Pobrano 20 końcowych pozycji
Session 9644: Pobrano 20 końcowych pozycji
Session 9645: Pobrano 20 końcowych pozycji
Session 9650: Pobrano 20 końcowych pozycji
Session 9654: Pobrano 20 końcowych pozycji
Session 9646: Pobrano 20 końcowych pozycji
Session 9655: Pobrano 20 końcowych pozycji
Session 9461: Pobrano 20 końcowych pozycji
Session 9656: Pobrano 20 końcowych pozycji
Session 9657: Pobrano 20 końcowych pozycji
Session 9658: Pobrano 20 końcowych pozycji
Session 9662: Pobrano 20 końcowych pozycji

,session_key,driver_number,position,date,time,meeting_key,session_name,year,location,country_name,circuit_short_name,broadcast_name,full_name,team_name
0,9222,1,1,2023-02-23,16:13:05.619000,1140,Practice 1,2023,Sakhir,Bahrain,Sakhir,M VERSTAPPEN,Max VERSTAPPEN,Red Bull Racing
1,9222,2,10,2023-02-23,16:13:05.619000,1140,Practice 1,2023,Sakhir,Bahrain,Sakhir,L SARGEANT,Logan SARGEANT,Williams
2,9222,4,5,2023-02-23,16:13:05.619000,1140,Practice 1,2023,Sakhir,Bahrain,Sakhir,L NORRIS,Lando NORRIS,McLaren
3,9222,10,16,2023-02-23,16:13:05.619000,1140,Practice 1,2023,Sakhir,Bahrain,Sakhir,P GASLY,Pierre GASLY,Alpine
4,9222,14,2,2023-02-23,16:13:05.619000,1140,Practice 1,2023,Sakhir,Bahrain,Sakhir,F ALONSO,Fernando ALONSO,Aston Martin

In [21]:
# posortuj wyniki według sesji i pozycji
def sort_results_by_session_and_position(results_df):
    return results_df.sort_values(by=['session_key', 'position'])

sorted_results_df = sort_results_by_session_and_position(results_df)
sorted_results_df.head()

,session_key,driver_number,position,date,time,meeting_key,session_name,year,location,country_name,circuit_short_name,broadcast_name,full_name,team_name
29,7763,24,1,2023-02-24,16:00:22.519000,1140,Practice 2,2023,Sakhir,Bahrain,Sakhir,G ZHOU,ZHOU Guanyu,Alfa Romeo
19,7763,1,2,2023-02-24,16:00:22.519000,1140,Practice 2,2023,Sakhir,Bahrain,Sakhir,M VERSTAPPEN,Max VERSTAPPEN,Red Bull Racing
24,7763,14,3,2023-02-24,16:00:22.519000,1140,Practice 2,2023,Sakhir,Bahrain,Sakhir,F ALONSO,Fernando ALONSO,Aston Martin
27,7763,21,4,2023-02-24,16:00:22.519000,1140,Practice 2,2023,Sakhir,Bahrain,Sakhir,N DE VRIES,Nyck DE VRIES,AlphaTauri
30,7763,27,5,2023-02-24,16:00:22.519000,1140,Practice 2,2023,Sakhir,Bahrain,Sakhir,N HULKENBERG,Nico HULKENBERG,Haas F1 Team

In [22]:
# Funkcje do analizy końcowych wyników sesji
def get_session_type_results(session_type, max_sessions=None):
    
    sessions = all_sessions_df[all_sessions_df['session_name'] == session_type]
    
    if max_sessions:
        sessions = sessions.head(max_sessions)
    
    session_keys = sessions['session_key'].tolist()
    
    print(f"Pobieranie wyników dla {len(session_keys)} sesji typu '{session_type}'")
    
    return get_final_session_results(session_keys)

In [23]:
# KOMPLETNE POBIERANIE RANKINGU DLA WSZYSTKICH SESJI
# Funkcja do pobierania rankingu dla wszystkich dostępnych sesji każdego typu

def get_all_rankings_by_session_type():

    session_types = all_sessions_df['session_name'].unique()
    all_rankings = {}
    
    
    for session_type in session_types:
        print(f"Przetwarzanie: {session_type}")
        
        # Pobierz wszystkie sesje tego typu
        sessions_of_type = all_sessions_df[all_sessions_df['session_name'] == session_type]
        session_keys = sessions_of_type['session_key'].tolist()
        
        print(f"   Znaleziono {len(session_keys)} sesji typu '{session_type}'")
        
        # Pobierz wyniki dla wszystkich sesji tego typu
        rankings = get_final_session_results(session_keys, include_driver_details=True)
        
        if not rankings.empty:
            # Sortuj według sesji i pozycji
            rankings_sorted = rankings.sort_values(['session_key', 'position'])
            all_rankings[session_type] = rankings_sorted
            
            print(f"Pobrano {len(rankings)} wyników z {rankings['session_key'].nunique()} sesji")
            print(f"Lata: {rankings['year'].min()}-{rankings['year'].max()}")
            print(f"Pozycje: {rankings['position'].min()}-{rankings['position'].max()}")
        else:
            print(f"Brak wyników dla {session_type}")
        
        print()
    
    return all_rankings

In [24]:
# Zwraca ramkę danych dla każdego meeting ze wszystkimi sesjami i końcowymi pozycjami kierowców

def get_meeting_all_sessions_positions():

    # Pobierz wszystkie session_keys
    all_session_keys = all_sessions_df['session_key'].tolist()
    
    # Pobierz końcowe pozycje ze wszystkich sesji
    all_results = get_final_session_results(all_session_keys, include_driver_details=True)
    
    # Połącz dane meeting z sesjami
    meeting_sessions = all_meetings_df.merge(
        all_sessions_df[['meeting_key', 'session_key', 'session_name', 'session_type']], 
        on='meeting_key', 
        how='inner'
    )
    
    # Połącz z wynikami wszystkich sesji
    final_data = meeting_sessions.merge(
        all_results[['session_key', 'driver_number', 'position', 'broadcast_name', 'full_name', 'team_name']], 
        on='session_key', 
        how='inner'  # inner join żeby mieć tylko te z pozycjami
    )
    
    return final_data

In [25]:
meeting_all_sessions_positions = get_meeting_all_sessions_positions()
meeting_all_sessions_positions.head()

Session 9222: Pobrano 19 końcowych pozycji
Session 7763: Pobrano 17 końcowych pozycji
Session 7764: Pobrano 17 końcowych pozycji
Session 7765: Pobrano 20 końcowych pozycji
Session 7766: Pobrano 20 końcowych pozycji
Session 7767: Pobrano 20 końcowych pozycji
Session 7768: Pobrano 20 końcowych pozycji
Session 7953: Pobrano 20 końcowych pozycji
Session 7772: Pobrano 20 końcowych pozycji
Session 7773: Pobrano 20 końcowych pozycji
Session 7774: Pobrano 20 końcowych pozycji
Session 7775: Pobrano 20 końcowych pozycji
Session 7779: Pobrano 20 końcowych pozycji
Session 7780: Pobrano 20 końcowych pozycji
Session 7781: Pobrano 20 końcowych pozycji
Session 7782: Pobrano 20 końcowych pozycji
Session 7783: Pobrano 20 końcowych pozycji
Session 7787: Pobrano 20 końcowych pozycji
Session 9063: Pobrano 20 końcowych pozycji
Session 9064: Pobrano 20 końcowych pozycji
Session 9278: Pobrano 20 końcowych pozycji
Session 9069: Pobrano 19 końcowych pozycji
Session 9070: Pobrano 20 końcowych pozycji
Session 9071: Pobrano 20 końcowych pozycji
Session 9072: Pobrano 20 końcowych pozycji
Session 9073: Pobrano 20 końcowych pozycji
Session 9074: Pobrano 20 końcowych pozycji
Session 9078: Pobrano 20 końcowych pozycji
Session 9087: Pobrano 20 końcowych pozycji
Error fetching data for session 9088: 429
Session 9089: Pobrano 20 końcowych pozycji
Session 9090: Pobrano 20 końcowych pozycji
Session 9094: Pobrano 20 końcowych pozycji
Session 9095: Pobrano 20 końcowych pozycji
Session 9096: Pobrano 20 końcowych pozycji
Session 9097: Pobrano 20 końcowych pozycji
Session 9098: Pobrano 20 końcowych pozycji
Session 9102: Pobrano 20 końcowych pozycji
Session 9103: Pobrano 20 końcowych pozycji
Session 9104: Pobrano 20 końcowych pozycji
Session 9105: Pobrano 20 końcowych pozycji
Session 9106: Pobrano 20 końcowych pozycji
Session 9110: Pobrano 20 końcowych pozycji
Session 9111: Pobrano 20 końcowych pozycji
Session 9112: Pobrano 20 końcowych pozycji
Session 9282: Pobrano 20 końcowych pozycji
Session 9117: Pobrano 20 końcowych pozycji
Session 9118: Pobrano 20 końcowych pozycji
Session 9119: Pobrano 20 końcowych pozycji
Session 9120: Pobrano 20 końcowych pozycji
Session 9121: Pobrano 20 końcowych pozycji
Session 9122: Pobrano 20 końcowych pozycji
Session 9126: Pobrano 20 końcowych pozycji
Session 9223: Pobrano 20 końcowych pozycji
Session 9127: Pobrano 20 końcowych pozycji
Session 9128: Pobrano 20 końcowych pozycji
Session 9129: Pobrano 20 końcowych pozycji
Session 9133: Pobrano 20 końcowych pozycji
Session 9134: Pobrano 20 końcowych pozycji
Session 9135: Pobrano 20 końcowych pozycji
Session 9286: Pobrano 20 końcowych pozycji
Session 9140: Pobrano 20 końcowych pozycji
Session 9141: Pobrano 20 końcowych pozycji
Session 9142: Pobrano 20 końcowych pozycji
Session 9143: Pobrano 20 końcowych pozycji
Session 9144: Pobrano 20 końcowych pozycji
Session 9145: Pobrano 20 końcowych pozycji
Session 9149: Pobrano 20 końcowych pozycji
Session 9150: Pobrano 20 końcowych pozycji
Session 9151: Pobrano 20 końcowych pozycji
Session 9152: Pobrano 20 końcowych pozycji
Session 9153: Pobrano 20 końcowych pozycji
Session 9157: Pobrano 20 końcowych pozycji
Session 9158: Pobrano 20 końcowych pozycji
Session 9159: Pobrano 20 końcowych pozycji
Session 9160: Pobrano 20 końcowych pozycji
Session 9161: Pobrano 20 końcowych pozycji
Session 9165: Pobrano 19 końcowych pozycji
Session 9166: Pobrano 20 końcowych pozycji
Session 9167: Pobrano 20 końcowych pozycji
Session 9168: Pobrano 20 końcowych pozycji
Session 9169: Pobrano 20 końcowych pozycji
Session 9173: Pobrano 20 końcowych pozycji
Session 9214: Pobrano 20 końcowych pozycji
Session 9215: Pobrano 20 końcowych pozycji
Session 9298: Pobrano 20 końcowych pozycji
Session 9220: Pobrano 20 końcowych pozycji
Session 9221: Pobrano 20 końcowych pozycji
Session 9206: Pobrano 20 końcowych pozycji
Session 9207: Pobrano 20 końcowych pozycji
Session 9294: Pobrano 20 końcowych pozycji
Session 9212: Pobrano 20 końcowych pozycji
Session 9213: Pobrano 20 końcowych pozycji
Session 9174: Pobrano 20 końcowych pozycji
Session 9175: Pobrano 20 końcowych pozycji
Session 9176: Pobrano 20 końcowych pozycji
Session 9177: Pobrano 20 końcowych pozycji
Session 9181: Pobrano 20 końcowych pozycji
Session 9198: Pobrano 20 końcowych pozycji
Session 9304: Pobrano 20 końcowych pozycji
Session 9308: Pobrano 20 końcowych pozycji
Session 9204: Pobrano 20 końcowych pozycji
Session 9205: Pobrano 20 końcowych pozycji
Session 9182: Pobrano 20 końcowych pozycji
Session 9183: Pobrano 20 końcowych pozycji
Session 9184: Pobrano 20 końcowych pozycji
Session 9314: Pobrano 20 końcowych pozycji
Session 9189: Pobrano 20 końcowych pozycji
Session 9190: Pobrano 20 końcowych pozycji
Session 9191: Pobrano 20 końcowych pozycji
Session 9192: Pobrano 20 końcowych pozycji
Session 9193: Pobrano 20 końcowych pozycji
Session 9197: Pobrano 20 końcowych pozycji
Session 9462: Pobrano 20 końcowych pozycji
Session 9463: Pobrano 20 końcowych pozycji
Session 9464: Pobrano 20 końcowych pozycji
Session 9465: Pobrano 20 końcowych pozycji
Session 9466: Pobrano 20 końcowych pozycji
Session 9467: Pobrano 20 końcowych pozycji
Session 9468: Pobrano 20 końcowych pozycji
Session 9472: Pobrano 20 końcowych pozycji
Session 9473: Pobrano 20 końcowych pozycji
Session 9474: Pobrano 20 końcowych pozycji
Session 9475: Pobrano 20 końcowych pozycji
Session 9476: Pobrano 20 końcowych pozycji
Session 9480: Pobrano 20 końcowych pozycji
Session 9481: Pobrano 20 końcowych pozycji
Error fetching data for session 9482: 429
Error fetching data for session 9483: 429
Session 9484: Pobrano 19 końcowych pozycji
Session 9488: Pobrano 19 końcowych pozycji
Session 9489: Pobrano 20 końcowych pozycji
Session 9490: Pobrano 20 końcowych pozycji
Session 9491: Pobrano 20 końcowych pozycji
Session 9492: Pobrano 20 końcowych pozycji
Error fetching data for session 9496: 429
Session 9663: Pobrano 20 końcowych pozycji
Session 9668: Pobrano 20 końcowych pozycji
Session 9672: Pobrano 20 końcowych pozycji
Session 9664: Pobrano 20 końcowych pozycji
Session 9673: Pobrano 20 końcowych pozycji
Session 9497: Pobrano 20 końcowych pozycji
Session 9502: Pobrano 20 końcowych pozycji
Error fetching data for session 9506: 429
Error fetching data for session 9498: 429
Session 9507: Pobrano 20 końcowych pozycji
Session 9508: Pobrano 20 końcowych pozycji
Session 9509: Pobrano 20 końcowych pozycji
Session 9510: Pobrano 20 końcowych pozycji
Session 9511: Pobrano 20 końcowych pozycji
Session 9515: Pobrano 20 końcowych pozycji
Session 9516: Pobrano 20 końcowych pozycji
Session 9517: Pobrano 20 końcowych pozycji
Session 9518: Pobrano 20 końcowych pozycji
Session 9519: Pobrano 20 końcowych pozycji
Session 9523: Pobrano 20 końcowych pozycji
Session 9524: Pobrano 20 końcowych pozycji
Session 9525: Pobrano 20 końcowych pozycji
Session 9526: Pobrano 20 końcowych pozycji
Session 9527: Pobrano 20 końcowych pozycji
Session 9531: Pobrano 20 końcowych pozycji
Session 9532: Pobrano 20 końcowych pozycji
Session 9533: Pobrano 20 końcowych pozycji
Session 9534: Pobrano 20 końcowych pozycji
Session 9535: Pobrano 20 końcowych pozycji
Session 9539: Pobrano 20 końcowych pozycji
Session 9540: Pobrano 20 końcowych pozycji
Session 9545: Pobrano 20 końcowych pozycji
Session 9549: Pobrano 20 końcowych pozycji
Session 9541: Pobrano 20 końcowych pozycji
Session 9550: Pobrano 20 końcowych pozycji
Session 9551: Pobrano 20 końcowych pozycji
Session 9552: Pobrano 20 końcowych pozycji
Session 9553: Pobrano 20 końcowych pozycji
Session 9554: Pobrano 20 końcowych pozycji
Session 9558: Pobrano 20 końcowych pozycji
Session 9559: Pobrano 20 końcowych pozycji
Session 9560: Pobrano 20 końcowych pozycji
Session 9561: Pobrano 20 końcowych pozycji
Session 9562: Pobrano 20 końcowych pozycji
Session 9566: Pobrano 20 końcowych pozycji
Session 9567: Pobrano 20 końcowych pozycji
Session 9568: Pobrano 20 końcowych pozycji
Session 9569: Pobrano 20 końcowych pozycji
Session 9570: Pobrano 20 końcowych pozycji
Session 9574: Pobrano 20 końcowych pozycji
Session 9575: Pobrano 20 końcowych pozycji
Session 9576: Pobrano 20 końcowych pozycji
Session 9577: Pobrano 20 końcowych pozycji
Session 9578: Pobrano 20 końcowych pozycji
Session 9582: Pobrano 20 końcowych pozycji
Session 9583: Pobrano 20 końcowych pozycji
Session 9584: Pobrano 20 końcowych pozycji
Session 9585: Pobrano 20 końcowych pozycji
Session 9586: Pobrano 20 końcowych pozycji
Session 9590: Pobrano 20 końcowych pozycji
Session 9591: Pobrano 20 końcowych pozycji
Session 9592: Pobrano 20 końcowych pozycji
Session 9593: Pobrano 20 końcowych pozycji
Session 9594: Pobrano 20 końcowych pozycji
Session 9598: Pobrano 20 końcowych pozycji
Session 9599: Pobrano 20 końcowych pozycji
Session 9600: Pobrano 20 końcowych pozycji
Session 9601: Pobrano 20 końcowych pozycji
Session 9602: Pobrano 20 końcowych pozycji
Session 9606: Pobrano 20 końcowych pozycji
Session 9607: Pobrano 20 końcowych pozycji
Session 9612: Pobrano 20 końcowych pozycji
Session 9616: Pobrano 20 końcowych pozycji
Session 9608: Pobrano 20 końcowych pozycji
Session 9617: Pobrano 20 końcowych pozycji
Session 9618: Pobrano 20 końcowych pozycji
Session 9619: Pobrano 20 końcowych pozycji
Session 9620: Pobrano 20 końcowych pozycji
Session 9621: Pobrano 20 końcowych pozycji
Session 9625: Pobrano 20 końcowych pozycji
Session 9626: Pobrano 20 końcowych pozycji
Session 9631: Pobrano 20 końcowych pozycji
Session 9635: Pobrano 20 końcowych pozycji
Session 9627: Pobrano 20 końcowych pozycji
Session 9636: Pobrano 20 końcowych pozycji
Session 9637: Pobrano 20 końcowych pozycji
Session 9638: Pobrano 20 końcowych pozycji
Session 9639: Pobrano 20 końcowych pozycji
Session 9640: Pobrano 20 końcowych pozycji
Session 9644: Pobrano 20 końcowych pozycji
Session 9645: Pobrano 20 końcowych pozycji
Session 9650: Pobrano 20 końcowych pozycji
Session 9654: Pobrano 20 końcowych pozycji
Session 9646: Pobrano 20 końcowych pozycji
Session 9655: Pobrano 20 końcowych pozycji
Session 9461: Pobrano 20 końcowych pozycji
Session 9656: Pobrano 20 końcowych pozycji
Session 9657: Pobrano 20 końcowych pozycji
Session 9658: Pobrano 20 końcowych pozycji
Session 9662: Pobrano 20 końcowych pozycji

,circuit_key,circuit_short_name,country_code,country_key,country_name,date_start,time_start,gmt_offset,location,meeting_key,...,meeting_official_name,year,session_key,session_name,session_type,driver_number,position,broadcast_name,full_name,team_name
0,63,Sakhir,BRN,36,Bahrain,2023-02-23,07:00:00,03:00:00,Sakhir,1140,...,FORMULA 1 ARAMCO PRE-SEASON TESTING 2023,2023,9222,Practice 1,Practice,1,1,M VERSTAPPEN,Max VERSTAPPEN,Red Bull Racing
1,63,Sakhir,BRN,36,Bahrain,2023-02-23,07:00:00,03:00:00,Sakhir,1140,...,FORMULA 1 ARAMCO PRE-SEASON TESTING 2023,2023,9222,Practice 1,Practice,2,10,L SARGEANT,Logan SARGEANT,Williams
2,63,Sakhir,BRN,36,Bahrain,2023-02-23,07:00:00,03:00:00,Sakhir,1140,...,FORMULA 1 ARAMCO PRE-SEASON TESTING 2023,2023,9222,Practice 1,Practice,4,5,L NORRIS,Lando NORRIS,McLaren
3,63,Sakhir,BRN,36,Bahrain,2023-02-23,07:00:00,03:00:00,Sakhir,1140,...,FORMULA 1 ARAMCO PRE-SEASON TESTING 2023,2023,9222,Practice 1,Practice,10,16,P GASLY,Pierre GASLY,Alpine
4,63,Sakhir,BRN,36,Bahrain,2023-02-23,07:00:00,03:00:00,Sakhir,1140,...,FORMULA 1 ARAMCO PRE-SEASON TESTING 2023,2023,9222,Practice 1,Practice,14,2,F ALONSO,Fernando ALONSO,Aston Martin

In [26]:
# pobierz początkową pozycję dla każdego z kierowców w meetings dla każdej sesji
def get_starting_session_position(session_keys, include_driver_details=True):
    all_results = []
    
    for session_key in session_keys:
        url = f"https://api.openf1.org/v1/position?session_key={session_key}"
        response = requests.get(url)
        
        if response.status_code == 200:
            data = response.json()
            
            if isinstance(data, list) and len(data) > 0:
                # Sortuj dane według daty (najstarsze na początku)
                data_sorted = sorted(data, key=lambda x: x.get('date', ''))
                
                # Znajdź pierwsze pozycje dla każdego kierowcy
                first_positions = {}
                for record in data_sorted:
                    driver_number = record.get('driver_number')
                    if driver_number and driver_number not in first_positions:
                        first_positions[driver_number] = record
                
                date, time = format_datetime_fields(data_sorted[0]['date'])
                # Dodaj wszystkie początkowe pozycje do wyników
                for driver_number, record in first_positions.items():
                    result = {
                        'session_key': session_key,
                        'driver_number': driver_number,
                        'position': record.get('position'),
                        'date': date,
                        'time': time,
                        'meeting_key': record.get('meeting_key')
                    }
                    all_results.append(result)
                
                print(f"Session {session_key}: Pobrano {len(first_positions)} początkowych pozycji")
            else:
                print(f"Session {session_key}: Brak danych pozycji")
        else:
            print(f"Error fetching data for session {session_key}: {response.status_code}")
        
        sleep(0.5)  # Krótka pauza między requestami
    
    results_df = pd.DataFrame(all_results)
    
    if not results_df.empty and include_driver_details:
        # Połącz z danymi o sesjach
        results_df = results_df.merge(
            all_sessions_df[['session_key', 'session_name', 'year', 'location', 'country_name']], 
            on='session_key', 
            how='left'
        )
        
        # Połącz z danymi o kierowcach używając session_key zamiast meeting_key
        results_df = results_df.merge(
            drivers_df[['driver_number', 'session_key', 'broadcast_name', 'full_name', 'team_name']].drop_duplicates(), 
            on=['driver_number', 'session_key'], 
            how='left'
        )
    
    return results_df

In [27]:
starting_position_df = get_starting_session_position(sessions_key_unique, include_driver_details=True)
starting_position_df.head()

Session 9222: Pobrano 19 początkowych pozycji
Session 7763: Pobrano 17 początkowych pozycji
Session 7764: Pobrano 17 początkowych pozycji
Session 7765: Pobrano 20 początkowych pozycji
Session 7766: Pobrano 20 początkowych pozycji
Session 7767: Pobrano 20 początkowych pozycji
Session 7768: Pobrano 20 początkowych pozycji
Session 7953: Pobrano 20 początkowych pozycji
Session 7772: Pobrano 20 początkowych pozycji
Session 7773: Pobrano 20 początkowych pozycji
Session 7774: Pobrano 20 początkowych pozycji
Session 7775: Pobrano 20 początkowych pozycji
Session 7779: Pobrano 20 początkowych pozycji
Session 7780: Pobrano 20 początkowych pozycji
Session 7781: Pobrano 20 początkowych pozycji
Session 7782: Pobrano 20 początkowych pozycji
Session 7783: Pobrano 20 początkowych pozycji
Session 7787: Pobrano 20 początkowych pozycji
Session 9063: Pobrano 20 początkowych pozycji
Session 9064: Pobrano 20 początkowych pozycji
Session 9278: Pobrano 20 początkowych pozycji
Session 9069: Pobrano 19 początkowych pozycji
Session 9070: Pobrano 20 początkowych pozycji
Session 9071: Pobrano 20 początkowych pozycji
Session 9072: Pobrano 20 początkowych pozycji
Session 9073: Pobrano 20 początkowych pozycji
Session 9074: Pobrano 20 początkowych pozycji
Session 9078: Pobrano 20 początkowych pozycji
Session 9087: Pobrano 20 początkowych pozycji
Session 9088: Pobrano 20 początkowych pozycji
Session 9089: Pobrano 20 początkowych pozycji
Session 9090: Pobrano 20 początkowych pozycji
Session 9094: Pobrano 20 początkowych pozycji
Session 9095: Pobrano 20 początkowych pozycji
Session 9096: Pobrano 20 początkowych pozycji
Session 9097: Pobrano 20 początkowych pozycji
Session 9098: Pobrano 20 początkowych pozycji
Session 9102: Pobrano 20 początkowych pozycji
Session 9103: Pobrano 20 początkowych pozycji
Session 9104: Pobrano 20 początkowych pozycji
Session 9105: Pobrano 20 początkowych pozycji
Session 9106: Pobrano 20 początkowych pozycji
Session 9110: Pobrano 20 początkowych pozycji
Session 9111: Pobrano 20 początkowych pozycji
Session 9112: Pobrano 20 początkowych pozycji
Session 9282: Pobrano 20 początkowych pozycji
Session 9117: Pobrano 20 początkowych pozycji
Session 9118: Pobrano 20 początkowych pozycji
Session 9119: Pobrano 20 początkowych pozycji
Session 9120: Pobrano 20 początkowych pozycji
Session 9121: Pobrano 20 początkowych pozycji
Session 9122: Pobrano 20 początkowych pozycji
Session 9126: Pobrano 20 początkowych pozycji
Session 9223: Pobrano 20 początkowych pozycji
Session 9127: Pobrano 20 początkowych pozycji
Session 9128: Pobrano 20 początkowych pozycji
Session 9129: Pobrano 20 początkowych pozycji
Session 9133: Pobrano 20 początkowych pozycji
Session 9134: Pobrano 20 początkowych pozycji
Session 9135: Pobrano 20 początkowych pozycji
Session 9286: Pobrano 20 początkowych pozycji
Session 9140: Pobrano 20 początkowych pozycji
Session 9141: Pobrano 20 początkowych pozycji
Session 9142: Pobrano 20 początkowych pozycji
Session 9143: Pobrano 20 początkowych pozycji
Session 9144: Pobrano 20 początkowych pozycji
Session 9145: Pobrano 20 początkowych pozycji
Session 9149: Pobrano 20 początkowych pozycji
Session 9150: Pobrano 20 początkowych pozycji
Session 9151: Pobrano 20 początkowych pozycji
Session 9152: Pobrano 20 początkowych pozycji
Session 9153: Pobrano 20 początkowych pozycji
Session 9157: Pobrano 20 początkowych pozycji
Session 9158: Pobrano 20 początkowych pozycji
Session 9159: Pobrano 20 początkowych pozycji
Session 9160: Pobrano 20 początkowych pozycji
Session 9161: Pobrano 20 początkowych pozycji
Session 9165: Pobrano 19 początkowych pozycji
Session 9166: Pobrano 20 początkowych pozycji
Session 9167: Pobrano 20 początkowych pozycji
Session 9168: Pobrano 20 początkowych pozycji
Session 9169: Pobrano 20 początkowych pozycji
Session 9173: Pobrano 20 początkowych pozycji
Session 9214: Pobrano 20 początkowych pozycji
Session 9215: Pobrano 20 początkowych pozycji
Session 9298: Pobrano 20 początkowych pozycji
Session 9220: Pobrano 20 początkowych pozycji
Session 9221: Pobrano 20 początkowych pozycji
Session 9206: Pobrano 20 początkowych pozycji
Session 9207: Pobrano 20 początkowych pozycji
Session 9294: Pobrano 20 początkowych pozycji
Session 9212: Pobrano 20 początkowych pozycji
Session 9213: Pobrano 20 początkowych pozycji
Session 9174: Pobrano 20 początkowych pozycji
Session 9175: Pobrano 20 początkowych pozycji
Session 9176: Pobrano 20 początkowych pozycji
Session 9177: Pobrano 20 początkowych pozycji
Session 9181: Pobrano 20 początkowych pozycji
Session 9198: Pobrano 20 początkowych pozycji
Session 9304: Pobrano 20 początkowych pozycji
Session 9308: Pobrano 20 początkowych pozycji
Session 9204: Pobrano 20 początkowych pozycji
Session 9205: Pobrano 20 początkowych pozycji
Session 9182: Pobrano 20 początkowych pozycji
Session 9183: Pobrano 20 początkowych pozycji
Session 9184: Pobrano 20 początkowych pozycji
Session 9314: Pobrano 20 początkowych pozycji
Error fetching data for session 9189: 429
Session 9190: Pobrano 20 początkowych pozycji
Session 9191: Pobrano 20 początkowych pozycji
Session 9192: Pobrano 20 początkowych pozycji
Error fetching data for session 9193: 429
Session 9197: Pobrano 20 początkowych pozycji
Session 9462: Pobrano 20 początkowych pozycji
Session 9463: Pobrano 20 początkowych pozycji
Session 9464: Pobrano 20 początkowych pozycji
Session 9465: Pobrano 20 początkowych pozycji
Session 9466: Pobrano 20 początkowych pozycji
Error fetching data for session 9467: 429
Session 9468: Pobrano 20 początkowych pozycji
Session 9472: Pobrano 20 początkowych pozycji
Session 9473: Pobrano 20 początkowych pozycji
Session 9474: Pobrano 20 początkowych pozycji
Session 9475: Pobrano 20 początkowych pozycji
Session 9476: Pobrano 20 początkowych pozycji
Session 9480: Pobrano 20 początkowych pozycji
Session 9481: Pobrano 20 początkowych pozycji
Error fetching data for session 9482: 429
Error fetching data for session 9483: 429
Session 9484: Pobrano 19 początkowych pozycji
Session 9488: Pobrano 19 początkowych pozycji
Session 9489: Pobrano 20 początkowych pozycji
Session 9490: Pobrano 20 początkowych pozycji
Session 9491: Pobrano 20 początkowych pozycji
Session 9492: Pobrano 20 początkowych pozycji
Session 9496: Pobrano 20 początkowych pozycji
Session 9663: Pobrano 20 początkowych pozycji
Session 9668: Pobrano 20 początkowych pozycji
Session 9672: Pobrano 20 początkowych pozycji
Session 9664: Pobrano 20 początkowych pozycji
Session 9673: Pobrano 20 początkowych pozycji
Session 9497: Pobrano 20 początkowych pozycji
Session 9502: Pobrano 20 początkowych pozycji
Session 9506: Pobrano 20 początkowych pozycji
Session 9498: Pobrano 20 początkowych pozycji
Session 9507: Pobrano 20 początkowych pozycji
Session 9508: Pobrano 20 początkowych pozycji
Session 9509: Pobrano 20 początkowych pozycji
Session 9510: Pobrano 20 początkowych pozycji
Session 9511: Pobrano 20 początkowych pozycji
Session 9515: Pobrano 20 początkowych pozycji
Session 9516: Pobrano 20 początkowych pozycji
Error fetching data for session 9517: 429
Session 9518: Pobrano 20 początkowych pozycji
Session 9519: Pobrano 20 początkowych pozycji
Session 9523: Pobrano 20 początkowych pozycji
Session 9524: Pobrano 20 początkowych pozycji
Session 9525: Pobrano 20 początkowych pozycji
Session 9526: Pobrano 20 początkowych pozycji
Session 9527: Pobrano 20 początkowych pozycji
Session 9531: Pobrano 20 początkowych pozycji
Session 9532: Pobrano 20 początkowych pozycji
Session 9533: Pobrano 20 początkowych pozycji
Session 9534: Pobrano 20 początkowych pozycji
Session 9535: Pobrano 20 początkowych pozycji
Session 9539: Pobrano 20 początkowych pozycji
Session 9540: Pobrano 20 początkowych pozycji
Session 9545: Pobrano 20 początkowych pozycji
Error fetching data for session 9549: 429
Error fetching data for session 9541: 429
Error fetching data for session 9550: 429
Session 9551: Pobrano 20 początkowych pozycji
Session 9552: Pobrano 20 początkowych pozycji
Session 9553: Pobrano 20 początkowych pozycji
Session 9554: Pobrano 20 początkowych pozycji
Session 9558: Pobrano 20 początkowych pozycji
Session 9559: Pobrano 20 początkowych pozycji
Session 9560: Pobrano 20 początkowych pozycji
Session 9561: Pobrano 20 początkowych pozycji
Session 9562: Pobrano 20 początkowych pozycji
Session 9566: Pobrano 20 początkowych pozycji
Session 9567: Pobrano 20 początkowych pozycji
Session 9568: Pobrano 20 początkowych pozycji
Session 9569: Pobrano 20 początkowych pozycji
Session 9570: Pobrano 20 początkowych pozycji
Session 9574: Pobrano 20 początkowych pozycji
Session 9575: Pobrano 20 początkowych pozycji
Session 9576: Pobrano 20 początkowych pozycji
Session 9577: Pobrano 20 początkowych pozycji
Session 9578: Pobrano 20 początkowych pozycji
Session 9582: Pobrano 20 początkowych pozycji
Session 9583: Pobrano 20 początkowych pozycji
Session 9584: Pobrano 20 początkowych pozycji
Session 9585: Pobrano 20 początkowych pozycji
Error fetching data for session 9586: 429
Session 9590: Pobrano 20 początkowych pozycji
Session 9591: Pobrano 20 początkowych pozycji
Session 9592: Pobrano 20 początkowych pozycji
Session 9593: Pobrano 20 początkowych pozycji
Session 9594: Pobrano 20 początkowych pozycji
Session 9598: Pobrano 20 początkowych pozycji
Session 9599: Pobrano 20 początkowych pozycji
Session 9600: Pobrano 20 początkowych pozycji
Session 9601: Pobrano 20 początkowych pozycji
Session 9602: Pobrano 20 początkowych pozycji
Session 9606: Pobrano 20 początkowych pozycji
Session 9607: Pobrano 20 początkowych pozycji
Session 9612: Pobrano 20 początkowych pozycji
Session 9616: Pobrano 20 początkowych pozycji
Session 9608: Pobrano 20 początkowych pozycji
Session 9617: Pobrano 20 początkowych pozycji
Session 9618: Pobrano 20 początkowych pozycji
Session 9619: Pobrano 20 początkowych pozycji
Session 9620: Pobrano 20 początkowych pozycji
Session 9621: Pobrano 20 początkowych pozycji
Session 9625: Pobrano 20 początkowych pozycji
Session 9626: Pobrano 20 początkowych pozycji
Session 9631: Pobrano 20 początkowych pozycji
Session 9635: Pobrano 20 początkowych pozycji
Session 9627: Pobrano 20 początkowych pozycji
Session 9636: Pobrano 20 początkowych pozycji
Session 9637: Pobrano 20 początkowych pozycji
Session 9638: Pobrano 20 początkowych pozycji
Session 9639: Pobrano 20 początkowych pozycji
Session 9640: Pobrano 20 początkowych pozycji
Session 9644: Pobrano 20 początkowych pozycji
Session 9645: Pobrano 20 początkowych pozycji
Session 9650: Pobrano 20 początkowych pozycji
Session 9654: Pobrano 20 początkowych pozycji
Session 9646: Pobrano 20 początkowych pozycji
Session 9655: Pobrano 20 początkowych pozycji
Session 9461: Pobrano 20 początkowych pozycji
Session 9656: Pobrano 20 początkowych pozycji
Session 9657: Pobrano 20 początkowych pozycji
Session 9658: Pobrano 20 początkowych pozycji
Session 9662: Pobrano 20 początkowych pozycji

,session_key,driver_number,position,date,time,meeting_key,session_name,year,location,country_name,broadcast_name,full_name,team_name
0,9222,1,1,2023-02-23,06:54:49.318000,1140,Practice 1,2023,Sakhir,Bahrain,M VERSTAPPEN,Max VERSTAPPEN,Red Bull Racing
1,9222,2,2,2023-02-23,06:54:49.318000,1140,Practice 1,2023,Sakhir,Bahrain,L SARGEANT,Logan SARGEANT,Williams
2,9222,4,3,2023-02-23,06:54:49.318000,1140,Practice 1,2023,Sakhir,Bahrain,L NORRIS,Lando NORRIS,McLaren
3,9222,10,4,2023-02-23,06:54:49.318000,1140,Practice 1,2023,Sakhir,Bahrain,P GASLY,Pierre GASLY,Alpine
4,9222,14,5,2023-02-23,06:54:49.318000,1140,Practice 1,2023,Sakhir,Bahrain,F ALONSO,Fernando ALONSO,Aston Martin

In [28]:
# dla kazdego meeting w session pobierz pit stop dla kazdego kierowcy gdzie pit duration jest rozny od null

def get_pit_stops_for_sessions(session_key):
    pit_stops = []
    
    for session_key in session_key:
        url = f"https://api.openf1.org/v1/pit?session_key={session_key}&pit_duration>0"
        response = requests.get(url)
        
        if response.status_code == 200:
            data = response.json()
            
            pit_date, pit_time = format_datetime_fields(data[0]['date']) if data else (None, None)

            if isinstance(data, list) and len(data) > 0:
                for pit in data:
                    pit_stops.append({
                        'meeting_key': pit.get('meeting_key'),
                        'session_key': session_key,
                        'driver_number': pit.get('driver_number'),
                        'lap': pit.get('lap'),
                        'pit_duration': pit.get('pit_duration'),
                        'date': pit_date,
                        'time': pit_time,
                    })
                print(f"Fetched {len(data)} pit stops for session {session_key}")
            else:
                print(f"No pit stops found for session {session_key}")
        else:
            print(f"Error fetching data for session {session_key}: {response.status_code}")
        
        sleep(0.5)
    
    return pd.DataFrame(pit_stops)

In [29]:
pit_stops_df = get_pit_stops_for_sessions(sessions_key_unique)
pit_stops_df.head()

No pit stops found for session 9222
No pit stops found for session 7763
No pit stops found for session 7764
No pit stops found for session 7765
No pit stops found for session 7766
No pit stops found for session 7767
No pit stops found for session 7768
No pit stops found for session 7953
No pit stops found for session 7772
No pit stops found for session 7773
No pit stops found for session 7774
No pit stops found for session 7775
No pit stops found for session 7779
No pit stops found for session 7780
No pit stops found for session 7781
No pit stops found for session 7782
No pit stops found for session 7783
No pit stops found for session 7787
No pit stops found for session 9063
No pit stops found for session 9064
No pit stops found for session 9278
No pit stops found for session 9069
No pit stops found for session 9070
No pit stops found for session 9071
No pit stops found for session 9072
No pit stops found for session 9073
No pit stops found for session 9074
No pit stops found for session 9078
No pit stops found for session 9087
No pit stops found for session 9088
No pit stops found for session 9089
No pit stops found for session 9090
No pit stops found for session 9094
Fetched 76 pit stops for session 9095
Fetched 75 pit stops for session 9096
Fetched 41 pit stops for session 9097
Fetched 71 pit stops for session 9098
Fetched 43 pit stops for session 9102
No pit stops found for session 9103
Fetched 98 pit stops for session 9104
Fetched 40 pit stops for session 9105
Fetched 64 pit stops for session 9106
Fetched 33 pit stops for session 9110
Fetched 74 pit stops for session 9111
Fetched 70 pit stops for session 9112
Fetched 65 pit stops for session 9282
Fetched 11 pit stops for session 9117
Fetched 63 pit stops for session 9118
Fetched 71 pit stops for session 9119
Fetched 59 pit stops for session 9120
Fetched 58 pit stops for session 9121
Fetched 81 pit stops for session 9122
Fetched 24 pit stops for session 9126
Fetched 61 pit stops for session 9223
Fetched 63 pit stops for session 9127
Fetched 75 pit stops for session 9128
Fetched 73 pit stops for session 9129
Fetched 36 pit stops for session 9133
Fetched 30 pit stops for session 9134
Fetched 68 pit stops for session 9135
Fetched 35 pit stops for session 9286
Fetched 10 pit stops for session 9140
Fetched 37 pit stops for session 9141
Fetched 58 pit stops for session 9142
Fetched 35 pit stops for session 9143
Fetched 36 pit stops for session 9144
Fetched 75 pit stops for session 9145
Fetched 101 pit stops for session 9149
Error fetching data for session 9150: 429
Fetched 60 pit stops for session 9151
Error fetching data for session 9152: 429
Fetched 76 pit stops for session 9153
Fetched 25 pit stops for session 9157
Fetched 53 pit stops for session 9158
Fetched 53 pit stops for session 9159
Fetched 66 pit stops for session 9160
Fetched 72 pit stops for session 9161
Fetched 25 pit stops for session 9165
Fetched 59 pit stops for session 9166
Fetched 68 pit stops for session 9167
Fetched 61 pit stops for session 9168
Fetched 45 pit stops for session 9169
Fetched 43 pit stops for session 9173
Fetched 62 pit stops for session 9214
Fetched 74 pit stops for session 9215
Fetched 28 pit stops for session 9298
Fetched 3 pit stops for session 9220
Fetched 54 pit stops for session 9221
Fetched 49 pit stops for session 9206
Fetched 74 pit stops for session 9207
Fetched 35 pit stops for session 9294
No pit stops found for session 9212
Fetched 36 pit stops for session 9213
Error fetching data for session 9174: 429
Fetched 75 pit stops for session 9175
Fetched 64 pit stops for session 9176
Error fetching data for session 9177: 429
Fetched 38 pit stops for session 9181
Error fetching data for session 9198: 429
Fetched 77 pit stops for session 9304
Fetched 40 pit stops for session 9308
No pit stops found for session 9204
Fetched 67 pit stops for session 9205
Fetched 1 pit stops for session 9182
Fetched 77 pit stops for session 9183
Fetched 40 pit stops for session 9184
Fetched 55 pit stops for session 9314
Fetched 31 pit stops for session 9189
Fetched 76 pit stops for session 9190
Fetched 26 pit stops for session 9191
Fetched 72 pit stops for session 9192
Fetched 69 pit stops for session 9193
Fetched 37 pit stops for session 9197
Fetched 197 pit stops for session 9462
Fetched 191 pit stops for session 9463
Fetched 192 pit stops for session 9464
Fetched 58 pit stops for session 9465
Fetched 59 pit stops for session 9466
Fetched 64 pit stops for session 9467
Fetched 72 pit stops for session 9468
Fetched 43 pit stops for session 9472
Fetched 54 pit stops for session 9473
Error fetching data for session 9474: 429
Fetched 44 pit stops for session 9475
Fetched 73 pit stops for session 9476
Fetched 19 pit stops for session 9480
Fetched 62 pit stops for session 9481
Fetched 57 pit stops for session 9482
Fetched 67 pit stops for session 9483
Fetched 67 pit stops for session 9484
Fetched 36 pit stops for session 9488
Fetched 59 pit stops for session 9489
Fetched 17 pit stops for session 9490
Fetched 56 pit stops for session 9491
Fetched 55 pit stops for session 9492
Fetched 54 pit stops for session 9496
Fetched 35 pit stops for session 9663
Fetched 33 pit stops for session 9668
Fetched 1 pit stops for session 9672
Fetched 74 pit stops for session 9664
Fetched 40 pit stops for session 9673
Fetched 47 pit stops for session 9497
Fetched 38 pit stops for session 9502
Fetched 37 pit stops for session 9506
Fetched 83 pit stops for session 9498
Fetched 28 pit stops for session 9507
Fetched 62 pit stops for session 9508
Fetched 58 pit stops for session 9509
Fetched 72 pit stops for session 9510
Fetched 80 pit stops for session 9511
Fetched 27 pit stops for session 9515
Fetched 55 pit stops for session 9516
Fetched 57 pit stops for session 9517
Fetched 49 pit stops for session 9518
Fetched 72 pit stops for session 9519
Fetched 23 pit stops for session 9523
Fetched 28 pit stops for session 9524
Fetched 45 pit stops for session 9525
Fetched 61 pit stops for session 9526
Fetched 71 pit stops for session 9527
Fetched 42 pit stops for session 9531
Fetched 87 pit stops for session 9532
Fetched 71 pit stops for session 9533
Fetched 78 pit stops for session 9534
Fetched 67 pit stops for session 9535
Fetched 42 pit stops for session 9539
Fetched 99 pit stops for session 9540
Fetched 41 pit stops for session 9545
No pit stops found for session 9549
Fetched 88 pit stops for session 9541
Fetched 45 pit stops for session 9550
Fetched 53 pit stops for session 9551
Fetched 62 pit stops for session 9552
Fetched 39 pit stops for session 9553
Fetched 78 pit stops for session 9554
Fetched 45 pit stops for session 9558
Fetched 84 pit stops for session 9559
Fetched 62 pit stops for session 9560
Fetched 93 pit stops for session 9561
Fetched 75 pit stops for session 9562
Fetched 40 pit stops for session 9566
Error fetching data for session 9567: 429
Fetched 59 pit stops for session 9568
Fetched 5 pit stops for session 9569
Fetched 64 pit stops for session 9570
Error fetching data for session 9574: 429
Fetched 49 pit stops for session 9575
Fetched 60 pit stops for session 9576
Fetched 15 pit stops for session 9577
Fetched 75 pit stops for session 9578
Fetched 26 pit stops for session 9582
Fetched 54 pit stops for session 9583
Fetched 73 pit stops for session 9584
Fetched 97 pit stops for session 9585
Fetched 72 pit stops for session 9586
Fetched 30 pit stops for session 9590
Fetched 21 pit stops for session 9591
Fetched 50 pit stops for session 9592
Error fetching data for session 9593: 429
Fetched 68 pit stops for session 9594
Fetched 22 pit stops for session 9598
Fetched 46 pit stops for session 9599
Error fetching data for session 9600: 429
Fetched 60 pit stops for session 9601
Fetched 73 pit stops for session 9602
Fetched 23 pit stops for session 9606
Fetched 56 pit stops for session 9607
Fetched 42 pit stops for session 9612
No pit stops found for session 9616
Fetched 79 pit stops for session 9608
Fetched 23 pit stops for session 9617
Fetched 43 pit stops for session 9618
Fetched 57 pit stops for session 9619
Fetched 83 pit stops for session 9620
Fetched 79 pit stops for session 9621
Fetched 21 pit stops for session 9625
Fetched 82 pit stops for session 9626
Fetched 51 pit stops for session 9631
No pit stops found for session 9635
Fetched 69 pit stops for session 9627
Fetched 35 pit stops for session 9636
Fetched 46 pit stops for session 9637
Fetched 49 pit stops for session 9638
Fetched 62 pit stops for session 9639
Fetched 62 pit stops for session 9640
Fetched 39 pit stops for session 9644
Fetched 69 pit stops for session 9645
Error fetching data for session 9650: 429
Fetched 2 pit stops for session 9654
Fetched 76 pit stops for session 9646
Fetched 60 pit stops for session 9655
Fetched 71 pit stops for session 9461
Fetched 67 pit stops for session 9656
Fetched 66 pit stops for session 9657
Fetched 72 pit stops for session 9658
Fetched 28 pit stops for session 9662

,meeting_key,session_key,driver_number,lap,pit_duration,date,time
0,1211,9095,14,None,35.3,2023-06-02,11:33:46.930000
1,1211,9095,18,None,40.8,2023-06-02,11:33:46.930000
2,1211,9095,21,None,155.2,2023-06-02,11:33:46.930000
3,1211,9095,2,None,277.0,2023-06-02,11:33:46.930000
4,1211,9095,16,None,27.6,2023-06-02,11:33:46.930000

In [30]:
pit_stops_agg = (
    pit_stops_df
    .groupby(['session_key', 'driver_number'])
    .agg(
        pit_stop_count=('pit_duration', 'count'),
        avg_pit_duration=('pit_duration', 'mean')
    )
    .reset_index()
)

In [31]:
pit_stops_agg.head()

   session_key  driver_number  pit_stop_count  avg_pit_duration
0         9095              1               4           239.700
1         9095              2               4           278.725
2         9095              4               4           381.075
3         9095             10               3           452.400
4         9095             11               4           226.825

In [32]:
# https://api.openf1.org/v1/race_control
# get all race control for all session in meetings

def get_race_control(session_keys):
    """
    Pobiera wszystkie dane race control dla określonych sesji
    """
    all_race_control = []
    
    for session_key in session_keys:
        url = f"https://api.openf1.org/v1/race_control?session_key={session_key}"
        response = requests.get(url)
        
        if response.status_code == 200:
            data = response.json()
            
            if isinstance(data, list) and len(data) > 0:
                for control in data:
                    # Formatuj datę i czas
                    date, time = format_datetime_fields(control['date'])
                    
                    race_control_record = {
                        'session_key': session_key,
                        'date': date,
                        'time': time,
                        'category': control.get('category'),
                        'flag': control.get('flag'),
                        'lap_number': control.get('lap_number'),
                        'message': control.get('message')
                    }
                    all_race_control.append(race_control_record)
                
                print(f"Session {session_key}: Pobrano {len(data)} wiadomości race control")
            else:
                print(f"Session {session_key}: Brak danych race control")
        else:
            print(f"Error fetching race control for session {session_key}: {response.status_code}")
        
        sleep(0.5)
    
    return pd.DataFrame(all_race_control)

In [33]:
race_controlls_df = get_race_control(sessions_key_unique)
race_controlls_df.head()

Session 9222: Pobrano 82 wiadomości race control
Session 7763: Pobrano 36 wiadomości race control
Session 7764: Pobrano 46 wiadomości race control
Session 7765: Pobrano 17 wiadomości race control
Session 7766: Pobrano 15 wiadomości race control
Session 7767: Pobrano 5 wiadomości race control
Session 7768: Pobrano 21 wiadomości race control
Session 7953: Pobrano 73 wiadomości race control
Session 7772: Pobrano 25 wiadomości race control
Session 7773: Pobrano 20 wiadomości race control
Session 7774: Pobrano 16 wiadomości race control
Session 7775: Pobrano 42 wiadomości race control
Session 7779: Pobrano 56 wiadomości race control
Session 7780: Pobrano 37 wiadomości race control
Session 7781: Pobrano 66 wiadomości race control
Session 7782: Pobrano 45 wiadomości race control
Session 7783: Pobrano 64 wiadomości race control
Session 7787: Pobrano 103 wiadomości race control
Session 9063: Pobrano 82 wiadomości race control
Session 9064: Pobrano 61 wiadomości race control
Session 9278: Pobrano 57 wiadomości race control
Session 9069: Pobrano 48 wiadomości race control
Session 9070: Pobrano 52 wiadomości race control
Session 9071: Pobrano 38 wiadomości race control
Session 9072: Pobrano 29 wiadomości race control
Session 9073: Pobrano 13 wiadomości race control
Session 9074: Pobrano 25 wiadomości race control
Session 9078: Pobrano 38 wiadomości race control
Session 9087: Pobrano 24 wiadomości race control
Session 9088: Pobrano 26 wiadomości race control
Session 9089: Pobrano 26 wiadomości race control
Session 9090: Pobrano 42 wiadomości race control
Session 9094: Pobrano 242 wiadomości race control
Session 9095: Pobrano 7 wiadomości race control
Session 9096: Pobrano 5 wiadomości race control
Session 9097: Pobrano 15 wiadomości race control
Session 9098: Pobrano 37 wiadomości race control
Session 9102: Pobrano 47 wiadomości race control
Session 9103: Pobrano 11 wiadomości race control
Session 9104: Pobrano 54 wiadomości race control
Session 9105: Pobrano 34 wiadomości race control
Session 9106: Pobrano 75 wiadomości race control
Error fetching race control for session 9110: 429
Error fetching race control for session 9111: 429
Error fetching race control for session 9112: 429
Session 9282: Pobrano 41 wiadomości race control
Session 9117: Pobrano 44 wiadomości race control
Session 9118: Pobrano 210 wiadomości race control
Session 9119: Pobrano 17 wiadomości race control
Session 9120: Pobrano 14 wiadomości race control
Session 9121: Pobrano 18 wiadomości race control
Session 9122: Pobrano 73 wiadomości race control
Session 9126: Pobrano 44 wiadomości race control
Session 9223: Pobrano 110 wiadomości race control
Session 9127: Pobrano 12 wiadomości race control
Session 9128: Pobrano 9 wiadomości race control
Session 9129: Pobrano 25 wiadomości race control
Session 9133: Pobrano 85 wiadomości race control
Session 9134: Pobrano 55 wiadomości race control
Session 9135: Pobrano 110 wiadomości race control
Session 9286: Pobrano 105 wiadomości race control
Session 9140: Pobrano 84 wiadomości race control
Session 9141: Pobrano 54 wiadomości race control
Session 9142: Pobrano 24 wiadomości race control
Session 9143: Pobrano 30 wiadomości race control
Session 9144: Pobrano 47 wiadomości race control
Session 9145: Pobrano 55 wiadomości race control
Session 9149: Pobrano 74 wiadomości race control
Session 9150: Pobrano 19 wiadomości race control
Session 9151: Pobrano 35 wiadomości race control
Error fetching race control for session 9152: 429
Session 9153: Pobrano 20 wiadomości race control
Session 9157: Pobrano 43 wiadomości race control
Error fetching race control for session 9158: 429
Error fetching race control for session 9159: 429
Session 9160: Pobrano 21 wiadomości race control
Error fetching race control for session 9161: 429
Session 9165: Pobrano 74 wiadomości race control
Session 9166: Pobrano 11 wiadomości race control
Session 9167: Pobrano 18 wiadomości race control
Session 9168: Pobrano 8 wiadomości race control
Session 9169: Pobrano 26 wiadomości race control
Session 9173: Pobrano 71 wiadomości race control
Session 9214: Pobrano 7 wiadomości race control
Session 9215: Pobrano 36 wiadomości race control
Session 9298: Pobrano 46 wiadomości race control
Session 9220: Pobrano 63 wiadomości race control
Session 9221: Pobrano 135 wiadomości race control
Session 9206: Pobrano 7 wiadomości race control
Session 9207: Pobrano 25 wiadomości race control
Session 9294: Pobrano 20 wiadomości race control
Session 9212: Pobrano 38 wiadomości race control
Session 9213: Pobrano 79 wiadomości race control
Session 9174: Pobrano 10 wiadomości race control
Session 9175: Pobrano 19 wiadomości race control
Session 9176: Pobrano 31 wiadomości race control
Session 9177: Pobrano 38 wiadomości race control
Session 9181: Pobrano 96 wiadomości race control
Session 9198: Pobrano 9 wiadomości race control
Session 9304: Pobrano 33 wiadomości race control
Session 9308: Pobrano 25 wiadomości race control
Session 9204: Pobrano 10 wiadomości race control
Session 9205: Pobrano 51 wiadomości race control
Session 9182: Pobrano 11 wiadomości race control
Session 9183: Pobrano 46 wiadomości race control
Session 9184: Pobrano 37 wiadomości race control
Error fetching race control for session 9314: 429
Session 9189: Pobrano 73 wiadomości race control
Session 9190: Pobrano 21 wiadomości race control
Session 9191: Pobrano 19 wiadomości race control
Error fetching race control for session 9192: 429
Session 9193: Pobrano 21 wiadomości race control
Session 9197: Pobrano 65 wiadomości race control
Session 9462: Pobrano 22 wiadomości race control
Error fetching race control for session 9463: 429
Session 9464: Pobrano 23 wiadomości race control
Session 9465: Pobrano 11 wiadomości race control
Session 9466: Pobrano 8 wiadomości race control
Session 9467: Pobrano 5 wiadomości race control
Session 9468: Pobrano 14 wiadomości race control
Session 9472: Pobrano 69 wiadomości race control
Session 9473: Pobrano 6 wiadomości race control
Session 9474: Pobrano 10 wiadomości race control
Session 9475: Pobrano 21 wiadomości race control
Session 9476: Pobrano 35 wiadomości race control
Session 9480: Pobrano 66 wiadomości race control
Session 9481: Pobrano 19 wiadomości race control
Session 9482: Pobrano 25 wiadomości race control
Session 9483: Pobrano 18 wiadomości race control
Session 9484: Pobrano 41 wiadomości race control
Session 9488: Pobrano 82 wiadomości race control
Session 9489: Pobrano 15 wiadomości race control
Session 9490: Pobrano 12 wiadomości race control
Session 9491: Pobrano 9 wiadomości race control
Session 9492: Pobrano 15 wiadomości race control
Session 9496: Pobrano 66 wiadomości race control
Session 9663: Pobrano 16 wiadomości race control
Session 9668: Pobrano 62 wiadomości race control
Session 9672: Pobrano 19 wiadomości race control
Session 9664: Pobrano 37 wiadomości race control
Session 9673: Pobrano 56 wiadomości race control
Session 9497: Pobrano 19 wiadomości race control
Session 9502: Pobrano 33 wiadomości race control
Session 9506: Pobrano 56 wiadomości race control
Session 9498: Pobrano 30 wiadomości race control
Session 9507: Pobrano 75 wiadomości race control
Session 9508: Pobrano 16 wiadomości race control
Session 9509: Pobrano 9 wiadomości race control
Session 9510: Pobrano 24 wiadomości race control
Session 9511: Pobrano 28 wiadomości race control
Session 9515: Pobrano 98 wiadomości race control
Error fetching race control for session 9516: 429
Session 9517: Pobrano 14 wiadomości race control
Session 9518: Pobrano 37 wiadomości race control
Session 9519: Pobrano 105 wiadomości race control
Session 9523: Pobrano 118 wiadomości race control
Error fetching race control for session 9524: 429
Session 9525: Pobrano 32 wiadomości race control
Session 9526: Pobrano 43 wiadomości race control
Session 9527: Pobrano 41 wiadomości race control
Session 9531: Pobrano 128 wiadomości race control
Session 9532: Pobrano 11 wiadomości race control
Session 9533: Pobrano 3 wiadomości race control
Session 9534: Pobrano 15 wiadomości race control
Session 9535: Pobrano 19 wiadomości race control
Error fetching race control for session 9539: 429
Session 9540: Pobrano 9 wiadomości race control
Error fetching race control for session 9545: 429
Session 9549: Pobrano 14 wiadomości race control
Session 9541: Pobrano 31 wiadomości race control
Session 9550: Pobrano 123 wiadomości race control
Session 9551: Pobrano 20 wiadomości race control
Error fetching race control for session 9552: 429
Session 9553: Pobrano 20 wiadomości race control
Error fetching race control for session 9554: 429
Session 9558: Pobrano 108 wiadomości race control
Session 9559: Pobrano 17 wiadomości race control
Session 9560: Pobrano 27 wiadomości race control
Session 9561: Pobrano 10 wiadomości race control
Session 9562: Pobrano 52 wiadomości race control
Session 9566: Pobrano 73 wiadomości race control
Session 9567: Pobrano 11 wiadomości race control
Session 9568: Pobrano 19 wiadomości race control
Session 9569: Pobrano 37 wiadomości race control
Session 9570: Pobrano 44 wiadomości race control
Session 9574: Pobrano 21 wiadomości race control
Session 9575: Pobrano 27 wiadomości race control
Session 9576: Pobrano 38 wiadomości race control
Session 9577: Pobrano 28 wiadomości race control
Session 9578: Pobrano 17 wiadomości race control
Session 9582: Pobrano 82 wiadomości race control
Session 9583: Pobrano 19 wiadomości race control
Session 9584: Pobrano 20 wiadomości race control
Session 9585: Pobrano 18 wiadomości race control
Session 9586: Pobrano 30 wiadomości race control
Session 9590: Pobrano 59 wiadomości race control
Session 9591: Pobrano 56 wiadomości race control
Session 9592: Pobrano 62 wiadomości race control
Session 9593: Pobrano 59 wiadomości race control
Session 9594: Pobrano 76 wiadomości race control
Session 9598: Pobrano 113 wiadomości race control
Session 9599: Pobrano 12 wiadomości race control
Session 9600: Pobrano 27 wiadomości race control
Session 9601: Pobrano 18 wiadomości race control
Session 9602: Pobrano 35 wiadomości race control
Session 9606: Pobrano 61 wiadomości race control
Session 9607: Pobrano 35 wiadomości race control
Session 9612: Pobrano 36 wiadomości race control
Error fetching race control for session 9616: 429
Session 9608: Pobrano 34 wiadomości race control
Session 9617: Pobrano 118 wiadomości race control
Session 9618: Pobrano 32 wiadomości race control
Session 9619: Pobrano 22 wiadomości race control
Session 9620: Pobrano 19 wiadomości race control
Error fetching race control for session 9621: 429
Session 9625: Pobrano 118 wiadomości race control
Session 9626: Pobrano 6 wiadomości race control
Session 9631: Pobrano 17 wiadomości race control
Session 9635: Pobrano 20 wiadomości race control
Session 9627: Pobrano 115 wiadomości race control
Session 9636: Pobrano 107 wiadomości race control
Session 9637: Pobrano 28 wiadomości race control
Session 9638: Pobrano 50 wiadomości race control
Session 9639: Pobrano 21 wiadomości race control
Session 9640: Pobrano 42 wiadomości race control
Session 9644: Pobrano 35 wiadomości race control
Session 9645: Pobrano 5 wiadomości race control
Session 9650: Pobrano 25 wiadomości race control
Session 9654: Pobrano 27 wiadomości race control
Session 9646: Pobrano 39 wiadomości race control
Session 9655: Pobrano 110 wiadomości race control
Error fetching race control for session 9461: 429
Session 9656: Pobrano 5 wiadomości race control
Session 9657: Pobrano 3 wiadomości race control
Session 9658: Pobrano 50 wiadomości race control
Session 9662: Pobrano 129 wiadomości race control

,session_key,date,time,category,flag,lap_number,message
0,9222,2023-02-23,07:00:00,Flag,GREEN,NaN,GREEN LIGHT - PIT EXIT OPEN
1,9222,2023-02-23,07:08:43,Flag,RED,NaN,RED FLAG
2,9222,2023-02-23,07:25:11,Other,None,NaN,SESSION WILL RESUME AT 10:30
3,9222,2023-02-23,07:25:35,Flag,CLEAR,NaN,TRACK CLEAR
4,9222,2023-02-23,07:25:39,Drs,None,NaN,DRS ENABLED

In [34]:
# pobierz rodzaje opon 
# https://api.openf1.org/v1/stints?session_key={session_key}
#     "compound": "SOFT",
#     "driver_number": 16,
#     "lap_end": 20,
#     "lap_start": 1,
#     "meeting_key": 1219,
#     "session_key": 9165,
#     "stint_number": 1,
#     "tyre_age_at_start": 3

def get_tyre_stints(session_keys):
    all_tyres = []
    
    for session_key in session_keys:
        url = f"https://api.openf1.org/v1/stints?session_key={session_key}"
        response = requests.get(url)
        
        if response.status_code == 200:
            data = response.json()
            
            if isinstance(data, list) and len(data) > 0:
                for stint in data:
                    tyre_record = {
                        'session_key': session_key,
                        'driver_number': stint.get('driver_number'),
                        'stint_number': stint.get('stint_number'),
                        'compound': stint.get('compound'),
                        'lap_start': stint.get('lap_start'),
                        'lap_end': stint.get('lap_end'),
                        'tyre_age_at_start': stint.get('tyre_age_at_start'),
                        'meeting_key': stint.get('meeting_key')
                    }
                    all_tyres.append(tyre_record)
                
                print(f"Session {session_key}: Pobrano {len(data)} stints")
            else:
                print(f"Session {session_key}: Brak danych o oponach")
        else:
            print(f"Error fetching tyre stints for session {session_key}: {response.status_code}")
        
        sleep(0.5)
    
    return pd.DataFrame(all_tyres)

In [35]:
stints_tyre = get_tyre_stints(sessions_key_unique)
stints_tyre.head()

Session 9222: Pobrano 267 stints
Session 7763: Pobrano 234 stints
Session 7764: Pobrano 271 stints
Session 7765: Pobrano 80 stints
Session 7766: Pobrano 81 stints
Session 7767: Pobrano 81 stints
Session 7768: Pobrano 93 stints
Session 7953: Pobrano 70 stints
Session 7772: Pobrano 79 stints
Session 7773: Pobrano 72 stints
Session 7774: Pobrano 71 stints
Session 7775: Pobrano 80 stints
Session 7779: Pobrano 44 stints
Session 7780: Pobrano 73 stints
Session 7781: Pobrano 68 stints
Session 7782: Pobrano 79 stints
Session 7783: Pobrano 82 stints
Session 7787: Pobrano 85 stints
Session 9063: Pobrano 57 stints
Session 9064: Pobrano 101 stints
Session 9278: Pobrano 43 stints
Session 9069: Pobrano 23 stints
Session 9070: Pobrano 43 stints
Session 9071: Pobrano 70 stints
Session 9072: Pobrano 95 stints
Session 9073: Pobrano 90 stints
Session 9074: Pobrano 81 stints
Session 9078: Pobrano 40 stints
Session 9087: Pobrano 68 stints
Session 9088: Pobrano 79 stints
Session 9089: Pobrano 63 stints
Session 9090: Pobrano 96 stints
Session 9094: Pobrano 57 stints
Session 9095: Pobrano 96 stints
Session 9096: Pobrano 95 stints
Session 9097: Pobrano 72 stints
Session 9098: Pobrano 108 stints
Session 9102: Pobrano 63 stints
Session 9103: Pobrano 17 stints
Session 9104: Pobrano 118 stints
Session 9105: Pobrano 61 stints
Session 9106: Pobrano 103 stints
Session 9110: Pobrano 53 stints
Session 9111: Pobrano 94 stints
Session 9112: Pobrano 106 stints
Session 9282: Pobrano 85 stints
Session 9117: Pobrano 31 stints
Session 9118: Pobrano 83 stints
Error fetching tyre stints for session 9119: 429
Session 9120: Pobrano 78 stints
Error fetching tyre stints for session 9121: 429
Session 9122: Pobrano 105 stints
Session 9126: Pobrano 44 stints
Session 9223: Pobrano 114 stints
Session 9127: Pobrano 83 stints
Session 9128: Pobrano 95 stints
Session 9129: Pobrano 94 stints
Session 9133: Pobrano 56 stints
Session 9134: Pobrano 50 stints
Session 9135: Pobrano 88 stints
Session 9286: Pobrano 55 stints
Session 9140: Pobrano 42 stints
Session 9141: Pobrano 57 stints
Session 9142: Pobrano 78 stints
Session 9143: Pobrano 72 stints
Session 9144: Pobrano 73 stints
Session 9145: Pobrano 95 stints
Session 9149: Pobrano 121 stints
Session 9150: Pobrano 73 stints
Session 9151: Pobrano 96 stints
Session 9152: Pobrano 93 stints
Session 9153: Pobrano 96 stints
Session 9157: Pobrano 45 stints
Session 9158: Pobrano 73 stints
Session 9159: Pobrano 73 stints
Session 9160: Pobrano 86 stints
Session 9161: Pobrano 92 stints
Session 9165: Pobrano 44 stints
Session 9166: Pobrano 79 stints
Session 9167: Pobrano 88 stints
Session 9168: Pobrano 81 stints
Session 9169: Pobrano 82 stints
Session 9173: Pobrano 63 stints
Session 9214: Pobrano 82 stints
Session 9215: Pobrano 94 stints
Session 9298: Pobrano 48 stints
Session 9220: Pobrano 23 stints
Session 9221: Pobrano 73 stints
Session 9206: Pobrano 69 stints
Session 9207: Pobrano 94 stints
Session 9294: Pobrano 55 stints
Session 9212: Pobrano 20 stints
Session 9213: Pobrano 56 stints
Session 9174: Pobrano 82 stints
Session 9175: Pobrano 95 stints
Session 9176: Pobrano 84 stints
Session 9177: Pobrano 91 stints
Session 9181: Pobrano 58 stints
Session 9198: Pobrano 80 stints
Session 9304: Pobrano 97 stints
Session 9308: Pobrano 65 stints
Session 9204: Pobrano 20 stints
Session 9205: Pobrano 87 stints
Session 9182: Pobrano 20 stints
Session 9183: Pobrano 97 stints
Session 9184: Pobrano 60 stints
Session 9314: Pobrano 75 stints
Session 9189: Pobrano 51 stints
Session 9190: Pobrano 96 stints
Session 9191: Pobrano 75 stints
Session 9192: Pobrano 92 stints
Session 9193: Pobrano 89 stints
Session 9197: Pobrano 57 stints
Session 9462: Pobrano 220 stints
Session 9463: Pobrano 217 stints
Session 9464: Pobrano 216 stints
Session 9465: Pobrano 79 stints
Session 9466: Pobrano 79 stints
Session 9467: Pobrano 84 stints
Session 9468: Pobrano 92 stints
Session 9472: Pobrano 63 stints
Session 9473: Pobrano 74 stints
Session 9474: Pobrano 77 stints
Session 9475: Pobrano 64 stints
Session 9476: Pobrano 93 stints
Session 9480: Pobrano 39 stints
Session 9481: Pobrano 81 stints
Session 9482: Pobrano 76 stints
Session 9483: Pobrano 86 stints
Session 9484: Pobrano 86 stints
Session 9488: Pobrano 55 stints
Session 9489: Pobrano 79 stints
Session 9490: Pobrano 30 stints
Session 9491: Pobrano 76 stints
Session 9492: Pobrano 75 stints
Session 9496: Pobrano 74 stints
Session 9663: Pobrano 71 stints
Session 9668: Pobrano 53 stints
Session 9672: Pobrano 21 stints
Session 9664: Pobrano 94 stints
Session 9673: Pobrano 60 stints
Session 9497: Pobrano 82 stints
Session 9502: Pobrano 58 stints
Session 9506: Pobrano 57 stints
Session 9498: Pobrano 103 stints
Session 9507: Pobrano 48 stints
Session 9508: Pobrano 85 stints
Session 9509: Pobrano 78 stints
Session 9510: Pobrano 100 stints
Session 9511: Pobrano 100 stints
Session 9515: Pobrano 47 stints
Session 9516: Pobrano 75 stints
Session 9517: Pobrano 77 stints
Session 9518: Pobrano 74 stints
Session 9519: Pobrano 92 stints
Session 9523: Pobrano 43 stints
Error fetching tyre stints for session 9524: 429
Error fetching tyre stints for session 9525: 429
Error fetching tyre stints for session 9526: 429
Error fetching tyre stints for session 9527: 429
Session 9531: Pobrano 62 stints
Session 9532: Pobrano 107 stints
Session 9533: Pobrano 91 stints
Session 9534: Pobrano 98 stints
Session 9535: Pobrano 87 stints
Session 9539: Pobrano 62 stints
Session 9540: Pobrano 119 stints
Session 9545: Pobrano 61 stints
Session 9549: Pobrano 20 stints
Session 9541: Pobrano 108 stints
Session 9550: Pobrano 65 stints
Session 9551: Pobrano 87 stints
Session 9552: Pobrano 82 stints
Session 9553: Pobrano 76 stints
Session 9554: Pobrano 102 stints
Session 9558: Pobrano 65 stints
Session 9559: Pobrano 104 stints
Session 9560: Pobrano 84 stints
Session 9561: Pobrano 113 stints
Session 9562: Pobrano 100 stints
Session 9566: Pobrano 60 stints
Session 9567: Pobrano 66 stints
Session 9568: Pobrano 79 stints
Session 9569: Pobrano 28 stints
Session 9570: Pobrano 84 stints
Session 9574: Pobrano 58 stints
Session 9575: Pobrano 69 stints
Session 9576: Pobrano 81 stints
Session 9577: Pobrano 43 stints
Session 9578: Pobrano 94 stints
Session 9582: Pobrano 46 stints
Session 9583: Pobrano 88 stints
Session 9584: Pobrano 94 stints
Session 9585: Pobrano 117 stints
Session 9586: Pobrano 92 stints
Session 9590: Pobrano 50 stints
Session 9591: Pobrano 77 stints
Session 9592: Pobrano 70 stints
Session 9593: Pobrano 87 stints
Session 9594: Pobrano 88 stints
Session 9598: Pobrano 42 stints
Session 9599: Pobrano 66 stints
Error fetching tyre stints for session 9600: 429
Session 9601: Pobrano 80 stints
Session 9602: Pobrano 93 stints
Session 9606: Pobrano 43 stints
Session 9607: Pobrano 76 stints
Session 9612: Pobrano 62 stints
Session 9616: Pobrano 20 stints
Session 9608: Pobrano 99 stints
Session 9617: Pobrano 43 stints
Session 9618: Pobrano 85 stints
Session 9619: Pobrano 77 stints
Session 9620: Pobrano 103 stints
Session 9621: Pobrano 99 stints
Session 9625: Pobrano 41 stints
Session 9626: Pobrano 102 stints
Session 9631: Pobrano 71 stints
Session 9635: Pobrano 20 stints
Session 9627: Pobrano 108 stints
Session 9636: Pobrano 54 stints
Session 9637: Pobrano 71 stints
Session 9638: Pobrano 69 stints
Session 9639: Pobrano 82 stints
Session 9640: Pobrano 82 stints
Session 9644: Pobrano 59 stints
Session 9645: Pobrano 89 stints
Session 9650: Pobrano 54 stints
Session 9654: Pobrano 22 stints
Session 9646: Pobrano 95 stints
Session 9655: Pobrano 82 stints
Session 9461: Pobrano 91 stints
Session 9656: Pobrano 87 stints
Session 9657: Pobrano 86 stints
Session 9658: Pobrano 92 stints
Session 9662: Pobrano 48 stints

,session_key,driver_number,stint_number,compound,lap_start,lap_end,tyre_age_at_start,meeting_key
0,9222,10,1,HARD,1.0,1.0,0,1140
1,9222,27,1,MEDIUM,1.0,1.0,0,1140
2,9222,81,1,HARD,1.0,1.0,0,1140
3,9222,23,1,SOFT,1.0,2.0,0,1140
4,9222,34,1,MEDIUM,1.0,2.0,0,1140

In [36]:
# https://api.openf1.org/v1/weather
    # "air_temperature": 27.8,
    # "date": "2023-05-07T18:42:25.233000+00:00",
    # "humidity": 58,
    # "meeting_key": 1208,
    # "pressure": 1018.7,
    # "rainfall": 0,
    # "session_key": 9078,
    # "track_temperature": 52.5,
    # "wind_direction": 136,
    # "wind_speed": 2.4

def get_weather_data(session_keys):
    all_weather = []
    
    for session_key in session_keys:
        url = f"https://api.openf1.org/v1/weather?session_key={session_key}"
        response = requests.get(url)
        
        if response.status_code == 200:
            data = response.json()
            
            if isinstance(data, list) and len(data) > 0:
                for weather in data:
                    date_w, time_w = format_datetime_fields(weather['date'])
                    weather_record = {
                        'session_key': session_key,
                        'meeting_key': weather.get('meeting_key'),
                        'date': date_w,
                        'time': time_w,
                        'air_temperature': weather.get('air_temperature'),
                        'track_temperature': weather.get('track_temperature'),
                        'humidity': weather.get('humidity'),
                        'pressure': weather.get('pressure'),
                        'rainfall': weather.get('rainfall'),
                        'wind_direction': weather.get('wind_direction'),
                        'wind_speed': weather.get('wind_speed')
                    }
                    all_weather.append(weather_record)
                
                print(f"Session {session_key}: Pobrano {len(data)} rekordów pogody")
            else:
                print(f"Session {session_key}: Brak danych o pogodzie")
        else:
            print(f"Error fetching weather data for session {session_key}: {response.status_code}")
        
        sleep(0.5)
    
    return pd.DataFrame(all_weather)

In [37]:
weather_session_df = get_weather_data(sessions_key_unique)
weather_session_df.head()

Session 9222: Pobrano 590 rekordów pogody
Session 7763: Pobrano 590 rekordów pogody
Session 7764: Pobrano 581 rekordów pogody
Session 7765: Pobrano 84 rekordów pogody
Session 7766: Pobrano 85 rekordów pogody
Session 7767: Pobrano 86 rekordów pogody
Session 7768: Pobrano 95 rekordów pogody
Session 7953: Pobrano 161 rekordów pogody
Session 7772: Pobrano 82 rekordów pogody
Session 7773: Pobrano 83 rekordów pogody
Session 7774: Pobrano 82 rekordów pogody
Error fetching weather data for session 7775: 429
Session 7779: Pobrano 148 rekordów pogody
Session 7780: Pobrano 62 rekordów pogody
Session 7781: Pobrano 82 rekordów pogody
Error fetching weather data for session 7782: 429
Session 7783: Pobrano 95 rekordów pogody
Session 7787: Pobrano 222 rekordów pogody
Session 9063: Pobrano 83 rekordów pogody
Session 9064: Pobrano 106 rekordów pogody
Session 9278: Pobrano 68 rekordów pogody
Session 9069: Pobrano 82 rekordów pogody
Session 9070: Pobrano 160 rekordów pogody
Session 9071: Pobrano 81 rekordów pogody
Session 9072: Pobrano 82 rekordów pogody
Session 9073: Pobrano 82 rekordów pogody
Session 9074: Pobrano 87 rekordów pogody
Session 9078: Pobrano 155 rekordów pogody
Session 9087: Pobrano 73 rekordów pogody
Session 9088: Pobrano 81 rekordów pogody
Session 9089: Pobrano 72 rekordów pogody
Session 9090: Pobrano 86 rekordów pogody
Session 9094: Pobrano 176 rekordów pogody
Session 9095: Pobrano 82 rekordów pogody
Session 9096: Pobrano 82 rekordów pogody
Session 9097: Pobrano 82 rekordów pogody
Session 9098: Pobrano 88 rekordów pogody
Session 9102: Pobrano 154 rekordów pogody
Session 9103: Pobrano 65 rekordów pogody
Session 9104: Pobrano 107 rekordów pogody
Session 9105: Pobrano 75 rekordów pogody
Session 9106: Pobrano 89 rekordów pogody
Session 9110: Pobrano 162 rekordów pogody
Session 9111: Pobrano 84 rekordów pogody
Session 9112: Pobrano 85 rekordów pogody
Session 9282: Pobrano 62 rekordów pogody
Session 9117: Pobrano 97 rekordów pogody
Session 9118: Pobrano 153 rekordów pogody
Session 9119: Pobrano 81 rekordów pogody
Session 9120: Pobrano 80 rekordów pogody
Session 9121: Pobrano 82 rekordów pogody
Session 9122: Pobrano 94 rekordów pogody
Session 9126: Pobrano 151 rekordów pogody
Session 9223: Pobrano 148 rekordów pogody
Session 9127: Pobrano 82 rekordów pogody
Session 9128: Pobrano 82 rekordów pogody
Session 9129: Pobrano 78 rekordów pogody
Session 9133: Pobrano 164 rekordów pogody
Session 9134: Pobrano 88 rekordów pogody
Session 9135: Pobrano 95 rekordów pogody
Session 9286: Pobrano 103 rekordów pogody
Session 9140: Pobrano 120 rekordów pogody
Session 9141: Pobrano 150 rekordów pogody
Session 9142: Pobrano 81 rekordów pogody
Session 9143: Pobrano 81 rekordów pogody
Session 9144: Pobrano 82 rekordów pogody
Session 9145: Pobrano 100 rekordów pogody
Session 9149: Pobrano 209 rekordów pogody
Session 9150: Pobrano 83 rekordów pogody
Session 9151: Pobrano 82 rekordów pogody
Session 9152: Pobrano 81 rekordów pogody
Session 9153: Pobrano 79 rekordów pogody
Session 9157: Pobrano 156 rekordów pogody
Session 9158: Pobrano 82 rekordów pogody
Session 9159: Pobrano 83 rekordów pogody
Session 9160: Pobrano 82 rekordów pogody
Session 9161: Pobrano 110 rekordów pogody
Session 9165: Pobrano 176 rekordów pogody
Session 9166: Pobrano 83 rekordów pogody
Session 9167: Pobrano 76 rekordów pogody
Session 9168: Pobrano 82 rekordów pogody
Error fetching weather data for session 9169: 429
Session 9173: Pobrano 158 rekordów pogody
Session 9214: Pobrano 82 rekordów pogody
Error fetching weather data for session 9215: 429
Session 9298: Pobrano 44 rekordów pogody
Session 9220: Pobrano 104 rekordów pogody
Session 9221: Pobrano 159 rekordów pogody
Session 9206: Pobrano 82 rekordów pogody
Session 9207: Pobrano 79 rekordów pogody
Session 9294: Pobrano 62 rekordów pogody
Error fetching weather data for session 9212: 429
Session 9213: Pobrano 168 rekordów pogody
Session 9174: Pobrano 81 rekordów pogody
Session 9175: Pobrano 81 rekordów pogody
Session 9176: Pobrano 81 rekordów pogody
Session 9177: Pobrano 78 rekordów pogody
Session 9181: Pobrano 190 rekordów pogody
Session 9198: Pobrano 80 rekordów pogody
Session 9304: Pobrano 86 rekordów pogody
Session 9308: Pobrano 86 rekordów pogody
Session 9204: Pobrano 90 rekordów pogody
Session 9205: Pobrano 183 rekordów pogody
Session 9182: Pobrano 36 rekordów pogody
Session 9183: Pobrano 143 rekordów pogody
Session 9184: Pobrano 73 rekordów pogody
Session 9314: Pobrano 79 rekordów pogody
Session 9189: Pobrano 108 rekordów pogody
Session 9190: Pobrano 81 rekordów pogody
Session 9191: Pobrano 81 rekordów pogody
Session 9192: Pobrano 82 rekordów pogody
Session 9193: Pobrano 78 rekordów pogody
Session 9197: Pobrano 156 rekordów pogody
Session 9462: Pobrano 279 rekordów pogody
Session 9463: Pobrano 560 rekordów pogody
Session 9464: Pobrano 552 rekordów pogody
Session 9465: Pobrano 82 rekordów pogody
Session 9466: Pobrano 82 rekordów pogody
Session 9467: Pobrano 82 rekordów pogody
Session 9468: Pobrano 77 rekordów pogody
Session 9472: Pobrano 157 rekordów pogody
Session 9473: Pobrano 80 rekordów pogody
Session 9474: Pobrano 93 rekordów pogody
Session 9475: Pobrano 82 rekordów pogody
Session 9476: Pobrano 94 rekordów pogody
Session 9480: Pobrano 146 rekordów pogody
Session 9481: Pobrano 81 rekordów pogody
Session 9482: Pobrano 82 rekordów pogody
Session 9483: Pobrano 81 rekordów pogody
Session 9484: Pobrano 78 rekordów pogody
Session 9488: Pobrano 144 rekordów pogody
Session 9489: Pobrano 80 rekordów pogody
Session 9490: Pobrano 86 rekordów pogody
Session 9491: Pobrano 79 rekordów pogody
Session 9492: Pobrano 76 rekordów pogody
Session 9496: Pobrano 181 rekordów pogody
Session 9663: Pobrano 82 rekordów pogody
Session 9668: Pobrano 70 rekordów pogody
Session 9672: Pobrano 80 rekordów pogody
Session 9664: Pobrano 86 rekordów pogody
Session 9673: Pobrano 165 rekordów pogody
Session 9497: Pobrano 77 rekordów pogody
Session 9502: Pobrano 63 rekordów pogody
Session 9506: Pobrano 82 rekordów pogody
Session 9498: Pobrano 77 rekordów pogody
Session 9507: Pobrano 150 rekordów pogody
Session 9508: Pobrano 79 rekordów pogody
Session 9509: Pobrano 78 rekordów pogody
Session 9510: Pobrano 78 rekordów pogody
Session 9511: Pobrano 75 rekordów pogody
Session 9515: Pobrano 143 rekordów pogody
Session 9516: Pobrano 77 rekordów pogody
Session 9517: Pobrano 81 rekordów pogody
Session 9518: Pobrano 79 rekordów pogody
Session 9519: Pobrano 76 rekordów pogody
Session 9523: Pobrano 200 rekordów pogody
Session 9524: Pobrano 78 rekordów pogody
Session 9525: Pobrano 80 rekordów pogody
Session 9526: Pobrano 81 rekordów pogody
Session 9527: Pobrano 78 rekordów pogody
Session 9531: Pobrano 113 rekordów pogody
Session 9532: Pobrano 81 rekordów pogody
Session 9533: Pobrano 81 rekordów pogody
Session 9534: Pobrano 80 rekordów pogody
Session 9535: Pobrano 76 rekordów pogody
Session 9539: Pobrano 154 rekordów pogody
Session 9540: Pobrano 79 rekordów pogody
Session 9545: Pobrano 58 rekordów pogody
Session 9549: Pobrano 78 rekordów pogody
Session 9541: Pobrano 76 rekordów pogody
Session 9550: Pobrano 143 rekordów pogody
Session 9551: Pobrano 81 rekordów pogody
Session 9552: Pobrano 81 rekordów pogody
Session 9553: Pobrano 82 rekordów pogody
Session 9554: Pobrano 85 rekordów pogody
Session 9558: Pobrano 147 rekordów pogody
Session 9559: Pobrano 82 rekordów pogody
Session 9560: Pobrano 81 rekordów pogody
Session 9561: Pobrano 80 rekordów pogody
Session 9562: Pobrano 105 rekordów pogody
Session 9566: Pobrano 155 rekordów pogody
Session 9567: Pobrano 83 rekordów pogody
Session 9568: Pobrano 82 rekordów pogody
Session 9569: Pobrano 82 rekordów pogody
Session 9570: Pobrano 79 rekordów pogody
Session 9574: Pobrano 137 rekordów pogody
Session 9575: Pobrano 81 rekordów pogody
Session 9576: Pobrano 79 rekordów pogody
Session 9577: Pobrano 79 rekordów pogody
Session 9578: Pobrano 79 rekordów pogody
Session 9582: Pobrano 153 rekordów pogody
Session 9583: Pobrano 81 rekordów pogody
Session 9584: Pobrano 79 rekordów pogody
Session 9585: Pobrano 81 rekordów pogody
Session 9586: Pobrano 79 rekordów pogody
Session 9590: Pobrano 133 rekordów pogody
Session 9591: Pobrano 92 rekordów pogody
Session 9592: Pobrano 82 rekordów pogody
Session 9593: Pobrano 82 rekordów pogody
Session 9594: Pobrano 78 rekordów pogody
Session 9598: Pobrano 152 rekordów pogody
Session 9599: Pobrano 80 rekordów pogody
Session 9600: Pobrano 82 rekordów pogody
Session 9601: Pobrano 82 rekordów pogody
Session 9602: Pobrano 93 rekordów pogody
Error fetching weather data for session 9606: 429
Session 9607: Pobrano 81 rekordów pogody
Session 9612: Pobrano 63 rekordów pogody
Session 9616: Pobrano 81 rekordów pogody
Error fetching weather data for session 9608: 429
Session 9617: Pobrano 155 rekordów pogody
Session 9618: Pobrano 79 rekordów pogody
Session 9619: Pobrano 109 rekordów pogody
Session 9620: Pobrano 83 rekordów pogody
Session 9621: Pobrano 81 rekordów pogody
Session 9625: Pobrano 159 rekordów pogody
Session 9626: Pobrano 82 rekordów pogody
Session 9631: Pobrano 62 rekordów pogody
Session 9635: Pobrano 76 rekordów pogody
Session 9627: Pobrano 107 rekordów pogody
Session 9636: Pobrano 201 rekordów pogody
Session 9637: Pobrano 83 rekordów pogody
Session 9638: Pobrano 116 rekordów pogody
Session 9639: Pobrano 82 rekordów pogody
Session 9640: Pobrano 98 rekordów pogody
Session 9644: Pobrano 143 rekordów pogody
Session 9645: Pobrano 81 rekordów pogody
Session 9650: Pobrano 59 rekordów pogody
Session 9654: Pobrano 74 rekordów pogody
Session 9646: Pobrano 78 rekordów pogody
Session 9655: Pobrano 151 rekordów pogody
Session 9461: Pobrano 82 rekordów pogody
Session 9656: Pobrano 79 rekordów pogody
Session 9657: Pobrano 81 rekordów pogody
Session 9658: Pobrano 81 rekordów pogody
Session 9662: Pobrano 148 rekordów pogody

,session_key,meeting_key,date,time,air_temperature,track_temperature,humidity,pressure,rainfall,wind_direction,wind_speed
0,9222,1140,2023-02-23,06:54:55.756000,23.8,29.7,26.0,1012.2,0,193,4.9
1,9222,1140,2023-02-23,06:55:55.755000,23.8,29.7,26.0,1012.2,0,193,4.9
2,9222,1140,2023-02-23,06:56:55.754000,23.8,30.0,27.0,1012.2,0,193,4.3
3,9222,1140,2023-02-23,06:57:55.754000,23.8,30.1,27.0,1012.2,0,186,5.5
4,9222,1140,2023-02-23,06:58:55.753000,23.8,30.1,27.0,1012.2,0,182,4.4

In [38]:
# grupowanie danych pogodowych według sesji i obliczenie statystyk

def summarize_weather(group):
    return pd.Series({
        'air_temp_mean': group['air_temperature'].mean(),
        'air_temp_min': group['air_temperature'].min(),
        'air_temp_max': group['air_temperature'].max(),
        'track_temp_mean': group['track_temperature'].mean(),
        'humidity_mean': group['humidity'].mean(),
        'rainfall_total': group['rainfall'].sum(),
        'rainfall_max': group['rainfall'].max(),
        'wind_speed_mean': group['wind_speed'].mean(),
        'pressure_mean': group['pressure'].mean(),
        'weather_measurements': len(group)
    })

In [39]:
gruouped_weather = weather_session_df.groupby('session_key')
gruouped_weather_summary = gruouped_weather.apply(summarize_weather).reset_index()

gruouped_weather_summary.head()

C:\Users\sylwia\AppData\Local\Temp\ipykernel_5736\457088065.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  gruouped_weather_summary = gruouped_weather.apply(summarize_weather).reset_index()

,session_key,air_temp_mean,air_temp_min,air_temp_max,track_temp_mean,humidity_mean,rainfall_total,rainfall_max,wind_speed_mean,pressure_mean,weather_measurements
0,7763,26.835254,22.9,31.5,36.444915,26.076271,0.0,0.0,2.091695,1009.909661,590.0
1,7764,26.641997,24.0,29.2,36.384682,42.820998,0.0,0.0,1.154217,1013.120654,581.0
2,7765,26.989286,26.3,27.6,40.482143,12.261905,0.0,0.0,2.579762,1017.314286,84.0
3,7766,22.872941,22.1,23.6,26.972941,23.317647,0.0,0.0,1.082353,1018.512941,85.0
4,7767,28.000000,27.6,28.5,40.570930,19.895349,0.0,0.0,1.777907,1017.043023,86.0

In [40]:
# z sessions tylko sesje typu Race

all_race_df = all_sessions_df[all_sessions_df['session_type'] == 'Race']
all_race_df.head()

,meeting_key,year,session_key,session_type,session_name,date_start,time_start,date_end,time_end,gmt_offset,location,country_name,country_code,circuit_short_name
7,1141,2023,7953,Race,Race,2023-03-05,15:00:00,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir
12,1142,2023,7779,Race,Race,2023-03-19,17:00:00,2023-03-19,19:00:00,03:00:00,Jeddah,Saudi Arabia,KSA,Jeddah
17,1143,2023,7787,Race,Race,2023-04-02,05:00:00,2023-04-02,07:00:00,10:00:00,Melbourne,Australia,AUS,Melbourne
21,1207,2023,9069,Race,Sprint,2023-04-29,13:30:00,2023-04-29,14:00:00,04:00:00,Baku,Azerbaijan,AZE,Baku
22,1207,2023,9070,Race,Race,2023-04-30,11:00:00,2023-04-30,13:00:00,04:00:00,Baku,Azerbaijan,AZE,Baku

In [41]:
# z sessions tylko sesje typu Qualifying
all_qualifying_df = all_sessions_df[all_sessions_df['session_name'] == 'Qualifying']
all_qualifying_df.head()

,meeting_key,year,session_key,session_type,session_name,date_start,time_start,date_end,time_end,gmt_offset,location,country_name,country_code,circuit_short_name
6,1141,2023,7768,Qualifying,Qualifying,2023-03-04,15:00:00,2023-03-04,16:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir
11,1142,2023,7775,Qualifying,Qualifying,2023-03-18,17:00:00,2023-03-18,18:00:00,03:00:00,Jeddah,Saudi Arabia,KSA,Jeddah
16,1143,2023,7783,Qualifying,Qualifying,2023-04-01,05:00:00,2023-04-01,06:00:00,11:00:00,Melbourne,Australia,AUS,Melbourne
19,1207,2023,9064,Qualifying,Qualifying,2023-04-28,13:00:00,2023-04-28,14:00:00,04:00:00,Baku,Azerbaijan,AZE,Baku
26,1208,2023,9074,Qualifying,Qualifying,2023-05-06,20:00:00,2023-05-06,21:00:00,-04:00:00,Miami,United States,USA,Miami

In [42]:
# polaczenie wyscigow i kierowcow

df_driver = drivers_df
df_gp = all_meetings_df
df_races = all_race_df

races_session_keys = df_races[['session_key']].drop_duplicates()
df_driver_race = df_driver.merge(races_session_keys, on='session_key', how='inner')

print(df_driver_race['session_key'].unique())
print(df_races['session_key'].unique())

# polaczenie driver z race
df_merged = df_driver_race.merge(df_races, on=['meeting_key', 'session_key'], how='left')
df_merged.head()

[7953 7779 7787 9069 9070 9078 9094 9102 9110 9117 9118 9126 9133 9140
 9141 9149 9157 9165 9173 9220 9221 9212 9213 9181 9204 9205 9189 9197
 9472 9480 9488 9496 9672 9673 9506 9507 9515 9523 9531 9539 9549 9550
 9558 9566 9574 9582 9590 9598 9606 9616 9617 9625 9635 9636 9644 9654
 9655 9662]
[7953 7779 7787 9069 9070 9078 9094 9102 9110 9117 9118 9126 9133 9140
 9141 9149 9157 9165 9173 9220 9221 9212 9213 9181 9204 9205 9189 9197
 9472 9480 9488 9496 9672 9673 9506 9507 9515 9523 9531 9539 9549 9550
 9558 9566 9574 9582 9590 9598 9606 9616 9617 9625 9635 9636 9644 9654
 9655 9662]

,driver_number,broadcast_name,full_name,first_name,last_name,name_acronym,country_code_x,team_name,meeting_key,session_key,...,session_name,date_start,time_start,date_end,time_end,gmt_offset,location,country_name,country_code_y,circuit_short_name
0,1,M VERSTAPPEN,Max VERSTAPPEN,Max,Verstappen,VER,NED,Red Bull Racing,1141,7953,...,Race,2023-03-05,15:00:00,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir
1,2,L SARGEANT,Logan SARGEANT,Logan,Sargeant,SAR,USA,Williams,1141,7953,...,Race,2023-03-05,15:00:00,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir
2,4,L NORRIS,Lando NORRIS,Lando,Norris,NOR,GBR,McLaren,1141,7953,...,Race,2023-03-05,15:00:00,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir
3,10,P GASLY,Pierre GASLY,Pierre,Gasly,GAS,FRA,Alpine,1141,7953,...,Race,2023-03-05,15:00:00,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir
4,11,S PEREZ,Sergio PEREZ,Sergio,Perez,PER,MEX,Red Bull Racing,1141,7953,...,Race,2023-03-05,15:00:00,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir

In [43]:
results_qualifying = get_final_session_results(all_qualifying_df['session_key'].unique(), include_driver_details=True)
results_qualifying.head()

Session 7768: Pobrano 20 końcowych pozycji
Session 7775: Pobrano 20 końcowych pozycji
Session 7783: Pobrano 20 końcowych pozycji
Session 9064: Pobrano 20 końcowych pozycji
Session 9074: Pobrano 20 końcowych pozycji
Session 9090: Pobrano 20 końcowych pozycji
Session 9098: Pobrano 20 końcowych pozycji
Session 9106: Pobrano 20 końcowych pozycji
Session 9112: Pobrano 20 końcowych pozycji
Session 9122: Pobrano 20 końcowych pozycji
Session 9129: Pobrano 20 końcowych pozycji
Session 9135: Pobrano 20 końcowych pozycji
Session 9145: Pobrano 20 końcowych pozycji
Session 9153: Pobrano 20 końcowych pozycji
Session 9161: Pobrano 20 końcowych pozycji
Session 9169: Pobrano 20 końcowych pozycji
Session 9215: Pobrano 20 końcowych pozycji
Session 9207: Pobrano 20 końcowych pozycji
Session 9177: Pobrano 20 końcowych pozycji
Session 9304: Pobrano 20 końcowych pozycji
Session 9314: Pobrano 20 końcowych pozycji
Session 9193: Pobrano 20 końcowych pozycji
Session 9468: Pobrano 20 końcowych pozycji
Session 9476: Pobrano 20 końcowych pozycji
Session 9484: Pobrano 19 końcowych pozycji
Session 9492: Pobrano 20 końcowych pozycji
Session 9664: Pobrano 20 końcowych pozycji
Session 9498: Pobrano 20 końcowych pozycji
Session 9511: Pobrano 20 końcowych pozycji
Session 9519: Pobrano 20 końcowych pozycji
Session 9527: Pobrano 20 końcowych pozycji
Session 9535: Pobrano 20 końcowych pozycji
Session 9541: Pobrano 20 końcowych pozycji
Session 9554: Pobrano 20 końcowych pozycji
Session 9562: Pobrano 20 końcowych pozycji
Session 9570: Pobrano 20 końcowych pozycji
Session 9578: Pobrano 20 końcowych pozycji
Session 9586: Pobrano 20 końcowych pozycji
Session 9594: Pobrano 20 końcowych pozycji
Session 9602: Pobrano 20 końcowych pozycji
Session 9608: Pobrano 20 końcowych pozycji
Session 9621: Pobrano 20 końcowych pozycji
Session 9627: Pobrano 20 końcowych pozycji
Session 9640: Pobrano 20 końcowych pozycji
Session 9646: Pobrano 20 końcowych pozycji
Session 9658: Pobrano 20 końcowych pozycji

,session_key,driver_number,position,date,time,meeting_key,session_name,year,location,country_name,circuit_short_name,broadcast_name,full_name,team_name
0,7768,1,1,2023-03-04,16:09:11.002000,1141,Qualifying,2023,Sakhir,Bahrain,Sakhir,M VERSTAPPEN,Max VERSTAPPEN,Red Bull Racing
1,7768,2,16,2023-03-04,16:09:11.002000,1141,Qualifying,2023,Sakhir,Bahrain,Sakhir,L SARGEANT,Logan SARGEANT,Williams
2,7768,4,11,2023-03-04,16:09:11.002000,1141,Qualifying,2023,Sakhir,Bahrain,Sakhir,L NORRIS,Lando NORRIS,McLaren
3,7768,10,20,2023-03-04,16:09:11.002000,1141,Qualifying,2023,Sakhir,Bahrain,Sakhir,P GASLY,Pierre GASLY,Alpine
4,7768,11,2,2023-03-04,16:09:11.002000,1141,Qualifying,2023,Sakhir,Bahrain,Sakhir,S PEREZ,Sergio PEREZ,Red Bull Racing

In [44]:
# dodanie do df_merged wyników kwalifikacji z zachowaniem wszytskich kolumn df_merged a dodanie tylko quali_position
df_final = []

df_final = df_merged.merge(
    results_qualifying[['meeting_key', 'driver_number', 'position']],
    on=['meeting_key', 'driver_number'],
    how='left'
).rename(columns={'position': 'qualifying_position'})

df_final.head()

,driver_number,broadcast_name,full_name,first_name,last_name,name_acronym,country_code_x,team_name,meeting_key,session_key,...,date_start,time_start,date_end,time_end,gmt_offset,location,country_name,country_code_y,circuit_short_name,qualifying_position
0,1,M VERSTAPPEN,Max VERSTAPPEN,Max,Verstappen,VER,NED,Red Bull Racing,1141,7953,...,2023-03-05,15:00:00,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir,1
1,2,L SARGEANT,Logan SARGEANT,Logan,Sargeant,SAR,USA,Williams,1141,7953,...,2023-03-05,15:00:00,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir,16
2,4,L NORRIS,Lando NORRIS,Lando,Norris,NOR,GBR,McLaren,1141,7953,...,2023-03-05,15:00:00,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir,11
3,10,P GASLY,Pierre GASLY,Pierre,Gasly,GAS,FRA,Alpine,1141,7953,...,2023-03-05,15:00:00,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir,20
4,11,S PEREZ,Sergio PEREZ,Sergio,Perez,PER,MEX,Red Bull Racing,1141,7953,...,2023-03-05,15:00:00,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir,2

In [45]:
df_race_results = results_df[results_df['session_name'] == 'Race']
df_race_results.head()

,session_key,driver_number,position,date,time,meeting_key,session_name,year,location,country_name,circuit_short_name,broadcast_name,full_name,team_name
133,7953,1,1,2023-03-05,16:36:20.243000,1141,Race,2023,Sakhir,Bahrain,Sakhir,M VERSTAPPEN,Max VERSTAPPEN,Red Bull Racing
134,7953,2,12,2023-03-05,16:36:20.243000,1141,Race,2023,Sakhir,Bahrain,Sakhir,L SARGEANT,Logan SARGEANT,Williams
135,7953,4,17,2023-03-05,16:36:20.243000,1141,Race,2023,Sakhir,Bahrain,Sakhir,L NORRIS,Lando NORRIS,McLaren
136,7953,10,9,2023-03-05,16:36:20.243000,1141,Race,2023,Sakhir,Bahrain,Sakhir,P GASLY,Pierre GASLY,Alpine
137,7953,11,2,2023-03-05,16:36:20.243000,1141,Race,2023,Sakhir,Bahrain,Sakhir,S PEREZ,Sergio PEREZ,Red Bull Racing

In [46]:
# doodanie do df_final pozycji startowych z zachowaniem wszytskich kolumn df_final a dod
df_starting_positions = starting_position_df[starting_position_df['session_name'] == 'Race']
df_starting_positions.head()

,session_key,driver_number,position,date,time,meeting_key,session_name,year,location,country_name,broadcast_name,full_name,team_name
133,7953,1,1,2023-03-05,14:01:06.787000,1141,Race,2023,Sakhir,Bahrain,M VERSTAPPEN,Max VERSTAPPEN,Red Bull Racing
134,7953,2,16,2023-03-05,14:01:06.787000,1141,Race,2023,Sakhir,Bahrain,L SARGEANT,Logan SARGEANT,Williams
135,7953,4,11,2023-03-05,14:01:06.787000,1141,Race,2023,Sakhir,Bahrain,L NORRIS,Lando NORRIS,McLaren
136,7953,10,20,2023-03-05,14:01:06.787000,1141,Race,2023,Sakhir,Bahrain,P GASLY,Pierre GASLY,Alpine
137,7953,11,2,2023-03-05,14:01:06.787000,1141,Race,2023,Sakhir,Bahrain,S PEREZ,Sergio PEREZ,Red Bull Racing

In [47]:
def remove_duplicate_columns(df, column_name):
    cols = [col for col in df.columns if col == column_name]
    if len(cols) > 1:
        first = df.columns.get_loc(column_name)
        df = df.loc[:, ~df.columns.duplicated()]
    return df

In [48]:
df_final = df_final.merge(
    df_race_results[['meeting_key', 'driver_number', 'position']],
    on=['meeting_key', 'driver_number'],
    how='left'
).rename(columns={'position': 'final_position'})

df_final = remove_duplicate_columns(df_final, 'final_position')
df_final.head()

,driver_number,broadcast_name,full_name,first_name,last_name,name_acronym,country_code_x,team_name,meeting_key,session_key,...,time_start,date_end,time_end,gmt_offset,location,country_name,country_code_y,circuit_short_name,qualifying_position,final_position
0,1,M VERSTAPPEN,Max VERSTAPPEN,Max,Verstappen,VER,NED,Red Bull Racing,1141,7953,...,15:00:00,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir,1,1.0
1,2,L SARGEANT,Logan SARGEANT,Logan,Sargeant,SAR,USA,Williams,1141,7953,...,15:00:00,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir,16,12.0
2,4,L NORRIS,Lando NORRIS,Lando,Norris,NOR,GBR,McLaren,1141,7953,...,15:00:00,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir,11,17.0
3,10,P GASLY,Pierre GASLY,Pierre,Gasly,GAS,FRA,Alpine,1141,7953,...,15:00:00,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir,20,9.0
4,11,S PEREZ,Sergio PEREZ,Sergio,Perez,PER,MEX,Red Bull Racing,1141,7953,...,15:00:00,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir,2,2.0

In [49]:
# policz zwyciestwa kazdego kierowcy do odbywajacego sie meeting, 
# tak aby policz tylko zwyciestwa przed rozpatrywanym meeting
# jako parametr funkcja przyjmuje tylko ramke ze wszytskimi wynikami sesji

def count_wins_before_meeting(race_results):
    # Posortuj dane rosnąco wg meeting_key (lub daty, jeśli dostępna)
    race_sorted = race_results.sort_values('meeting_key').reset_index(drop=True).copy()
    
    # Słownik do zliczania zwycięstw kierowców
    wins_count = {}
    
    # Lista na wyniki dla kolumny wins_before
    wins_before_list = []
    
    # Iteruj po posortowanych danych
    for idx, row in race_sorted.iterrows():
        driver = row['driver_number']
        meeting = row['meeting_key']
        
        # Pobierz aktualną liczbę zwycięstw przed tym meetingiem
        wins_before = wins_count.get(driver, 0)
        wins_before_list.append(wins_before)
        
        # Jeśli kierowca wygrał (position == 1), zwiększ licznik zwycięstw
        if row['final_position'] == 1:
            wins_count[driver] = wins_before + 1
    
    # Dodaj nową kolumnę do kopii ramki danych
    race_sorted['wins_before'] = wins_before_list
    
    return race_sorted


test = count_wins_before_meeting(df_final)

#wyswitl tylko dla driver_number 1
print(test[test['driver_number'] == 1][['meeting_key', 'driver_number', 'final_position', 'wins_before']])

      meeting_key  driver_number  final_position  wins_before
0            1141              1             1.0            0
36           1142              1             2.0            1
49           1143              1             1.0            1
60           1207              1             2.0            2
95           1207              1             2.0            2
115          1208              1             1.0            2
119          1210              1             1.0            3
140          1211              1             1.0            4
159          1212              1             1.0            5
183          1213              1             1.0            6
200          1213              1             1.0            7
220          1214              1             1.0            8
241          1215              1             1.0            9
281          1216              1             1.0           10
286          1216              1             1.0           11
300          1217              1             1.0           12
333          1218              1             1.0           13
357          1219              1             5.0           14
363          1220              1             1.0           14
382          1221              1             1.0           15
390          1221              1             1.0           16
420          1222              1             1.0           17
436          1222              1             1.0           18
473          1223              1             1.0           19
495          1224              1             1.0           20
504          1224              1             1.0           21
528          1225              1             1.0           22
546          1226              1             NaN           23
564          1229              1             1.0           23
587          1230              1             1.0           24
608          1231              1            19.0           25
626          1232              1             1.0           25
652          1233              1             1.0           26
664          1233              1             1.0           27
692          1234              1             2.0           28
694          1234              1             2.0           28
724          1235              1             1.0           28
745          1236              1             6.0           29
761          1237              1             1.0           29
789          1238              1             1.0           30
813          1239              1             5.0           31
833          1239              1             5.0           31
849          1240              1             2.0           31
857          1241              1             5.0           31
887          1242              1             5.0           31
916          1243              1             2.0           31
921          1244              1             6.0           31
949          1245              1             5.0           31
960          1246              1             2.0           31
993          1247              1             3.0           31
1015         1247              1             3.0           31
1020         1248              1             6.0           31
1064         1249              1             1.0           31
1065         1249              1             1.0           32
1084         1250              1             5.0           33
1113         1251              1             1.0           33
1133         1251              1             1.0           34
1148         1252              1             6.0           35

In [50]:
# merge z df_final
df_final = df_final.merge(
    test[['meeting_key', 'driver_number', 'wins_before']],
    on=['meeting_key', 'driver_number'],
    how='left'
)
df_final.head()

,driver_number,broadcast_name,full_name,first_name,last_name,name_acronym,country_code_x,team_name,meeting_key,session_key,...,date_end,time_end,gmt_offset,location,country_name,country_code_y,circuit_short_name,qualifying_position,final_position,wins_before
0,1,M VERSTAPPEN,Max VERSTAPPEN,Max,Verstappen,VER,NED,Red Bull Racing,1141,7953,...,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir,1,1.0,0
1,2,L SARGEANT,Logan SARGEANT,Logan,Sargeant,SAR,USA,Williams,1141,7953,...,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir,16,12.0,0
2,4,L NORRIS,Lando NORRIS,Lando,Norris,NOR,GBR,McLaren,1141,7953,...,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir,11,17.0,0
3,10,P GASLY,Pierre GASLY,Pierre,Gasly,GAS,FRA,Alpine,1141,7953,...,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir,20,9.0,0
4,11,S PEREZ,Sergio PEREZ,Sergio,Perez,PER,MEX,Red Bull Racing,1141,7953,...,2023-03-05,17:00:00,03:00:00,Sakhir,Bahrain,BRN,Sakhir,2,2.0,0

In [51]:
# oblicz liczbe pit stopów dla każdego kierowcy w danym wyścigu i sredni czas trwania pit stopu

def calculate_pit_stops_stats(pit_stops_df):
    # Grupuj po meeting_key i driver_number, zlicz liczbę pit stopów i oblicz średni czas trwania
    pit_stats = (
        pit_stops_df
        .groupby(['session_key', 'driver_number'])
        .agg(
            pit_stop_count=('pit_duration', 'count'),
            avg_pit_duration=('pit_duration', 'mean')
        )
        .reset_index()
    )
    
    return pit_stats

In [52]:
race_sessions_key_unique = df_final['session_key'].unique()
race_sessions_key_unique

array([7953, 7779, 7787, 9069, 9070, 9078, 9094, 9102, 9110, 9117, 9118,
       9126, 9133, 9140, 9141, 9149, 9157, 9165, 9173, 9220, 9221, 9212,
       9213, 9181, 9204, 9205, 9189, 9197, 9472, 9480, 9488, 9496, 9672,
       9673, 9506, 9507, 9515, 9523, 9531, 9539, 9549, 9550, 9558, 9566,
       9574, 9582, 9590, 9598, 9606, 9616, 9617, 9625, 9635, 9636, 9644,
       9654, 9655, 9662])

In [53]:
df_race_pit_stops = pit_stops_df[pit_stops_df['session_key'].isin(race_sessions_key_unique)]

In [54]:
df_race_pit_stops_stats = calculate_pit_stops_stats(df_race_pit_stops)
df_race_pit_stops_stats.head()

   session_key  driver_number  pit_stop_count  avg_pit_duration
0         9102              1               2             22.25
1         9102              2               2             23.15
2         9102              4               3             27.50
3         9102             10               2             23.45
4         9102             11               2             21.60

In [55]:
#merge pit stop stats z df_final
df_final = df_final.merge(
    df_race_pit_stops_stats,
    on=['session_key', 'driver_number'],
    how='left'
).rename(columns={
    'pit_stop_count': 'pit_stops_count',
    'avg_pit_duration': 'avg_pit_stop_duration'
})

#sortowanie df_final po meeting_key i driver_number

In [56]:
df_final = df_final.sort_values(by=['session_key', 'driver_number']).reset_index(drop=True)
df_final.head()

,driver_number,broadcast_name,full_name,first_name,last_name,name_acronym,country_code_x,team_name,meeting_key,session_key,...,gmt_offset,location,country_name,country_code_y,circuit_short_name,qualifying_position,final_position,wins_before,pit_stops_count,avg_pit_stop_duration
0,1,M VERSTAPPEN,Max VERSTAPPEN,Max,Verstappen,VER,NED,Red Bull Racing,1142,7779,...,03:00:00,Jeddah,Saudi Arabia,KSA,Jeddah,15,2.0,1,NaN,NaN
1,2,L SARGEANT,Logan SARGEANT,Logan,Sargeant,SAR,USA,Williams,1142,7779,...,03:00:00,Jeddah,Saudi Arabia,KSA,Jeddah,20,16.0,0,NaN,NaN
2,4,L NORRIS,Lando NORRIS,Lando,Norris,NOR,GBR,McLaren,1142,7779,...,03:00:00,Jeddah,Saudi Arabia,KSA,Jeddah,19,17.0,0,NaN,NaN
3,10,P GASLY,Pierre GASLY,Pierre,Gasly,GAS,FRA,Alpine,1142,7779,...,03:00:00,Jeddah,Saudi Arabia,KSA,Jeddah,10,9.0,0,NaN,NaN
4,11,S PEREZ,Sergio PEREZ,Sergio,Perez,PER,MEX,Red Bull Racing,1142,7779,...,03:00:00,Jeddah,Saudi Arabia,KSA,Jeddah,1,1.0,0,NaN,NaN

In [57]:
# Ensure there are no duplicate columns before printing
df_final_clean = df_final.loc[:, ~df_final.columns.duplicated()]
print(df_final_clean[df_final_clean['pit_stops_count'] > 0][['meeting_key', 'session_key', 'driver_number', 'pit_stops_count', 'avg_pit_stop_duration']].head(10))

     meeting_key  session_key  driver_number  pit_stops_count  \
177         1211         9102              1              2.0
178         1211         9102              2              2.0
179         1211         9102              4              3.0
180         1211         9102             10              2.0
181         1211         9102             11              2.0
182         1211         9102             14              2.0
183         1211         9102             16              2.0
184         1211         9102             18              2.0
185         1211         9102             20              3.0
186         1211         9102             21              2.0

     avg_pit_stop_duration
177              22.250000
178              23.150000
179              27.500000
180              23.450000
181              21.600000
182              22.650000
183              22.350000
184              22.800000
185              23.033333
186              22.200000

In [58]:
df_final.head()
df_copy = df_final.copy()

# zastap wszystkie wartosci NaN w kolumnach pit_stops_count i avg_pit_stop_duration zerami
df_copy['pit_stops_count'] = df_copy['pit_stops_count'].fillna(0).astype(int)
df_copy['avg_pit_stop_duration'] = df_copy['avg_pit_stop_duration'].fillna(0).astype(float)

In [59]:
df_copy.head()

,driver_number,broadcast_name,full_name,first_name,last_name,name_acronym,country_code_x,team_name,meeting_key,session_key,...,gmt_offset,location,country_name,country_code_y,circuit_short_name,qualifying_position,final_position,wins_before,pit_stops_count,avg_pit_stop_duration
0,1,M VERSTAPPEN,Max VERSTAPPEN,Max,Verstappen,VER,NED,Red Bull Racing,1142,7779,...,03:00:00,Jeddah,Saudi Arabia,KSA,Jeddah,15,2.0,1,0,0.0
1,2,L SARGEANT,Logan SARGEANT,Logan,Sargeant,SAR,USA,Williams,1142,7779,...,03:00:00,Jeddah,Saudi Arabia,KSA,Jeddah,20,16.0,0,0,0.0
2,4,L NORRIS,Lando NORRIS,Lando,Norris,NOR,GBR,McLaren,1142,7779,...,03:00:00,Jeddah,Saudi Arabia,KSA,Jeddah,19,17.0,0,0,0.0
3,10,P GASLY,Pierre GASLY,Pierre,Gasly,GAS,FRA,Alpine,1142,7779,...,03:00:00,Jeddah,Saudi Arabia,KSA,Jeddah,10,9.0,0,0,0.0
4,11,S PEREZ,Sergio PEREZ,Sergio,Perez,PER,MEX,Red Bull Racing,1142,7779,...,03:00:00,Jeddah,Saudi Arabia,KSA,Jeddah,1,1.0,0,0,0.0

In [60]:
def categorize_position(pos):
    if pos == 1:
        return 'winner'
    elif pos in [2, 3]:
        return 'top3'
    elif 4 <= pos <= 10:
        return 'points'
    else:
        return 'no_points'

In [61]:
# Tworzymy nową kolumnę target
df_final['position_category'] = df_final['final_position'].apply(categorize_position)

In [62]:
df_final.head()
back = df_copy.copy()

In [63]:
df_copy['position_category'] = df_copy['final_position'].apply(categorize_position)

In [64]:
df_copy.head()

,driver_number,broadcast_name,full_name,first_name,last_name,name_acronym,country_code_x,team_name,meeting_key,session_key,...,location,country_name,country_code_y,circuit_short_name,qualifying_position,final_position,wins_before,pit_stops_count,avg_pit_stop_duration,position_category
0,1,M VERSTAPPEN,Max VERSTAPPEN,Max,Verstappen,VER,NED,Red Bull Racing,1142,7779,...,Jeddah,Saudi Arabia,KSA,Jeddah,15,2.0,1,0,0.0,top3
1,2,L SARGEANT,Logan SARGEANT,Logan,Sargeant,SAR,USA,Williams,1142,7779,...,Jeddah,Saudi Arabia,KSA,Jeddah,20,16.0,0,0,0.0,no_points
2,4,L NORRIS,Lando NORRIS,Lando,Norris,NOR,GBR,McLaren,1142,7779,...,Jeddah,Saudi Arabia,KSA,Jeddah,19,17.0,0,0,0.0,no_points
3,10,P GASLY,Pierre GASLY,Pierre,Gasly,GAS,FRA,Alpine,1142,7779,...,Jeddah,Saudi Arabia,KSA,Jeddah,10,9.0,0,0,0.0,points
4,11,S PEREZ,Sergio PEREZ,Sergio,Perez,PER,MEX,Red Bull Racing,1142,7779,...,Jeddah,Saudi Arabia,KSA,Jeddah,1,1.0,0,0,0.0,winner

In [65]:
features_to_drop = ['driver_number', 'broadcast_name', 'full_name', 'first_name', 'last_name',
                    'name_acronym', 'team_name', 'meeting_key', 'session_key', 'location', 'country_name',
                    'country_code_y', 'circuit_short_name', 'final_position', 'position_category']

In [66]:
X = df_copy.drop(columns=features_to_drop)
y = df_copy['position_category']

In [67]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

for col in X.select_dtypes(include=['object']).columns:
    le = LabelEncoder()
    X[col] = le.fit_transform(X[col])

In [68]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, VotingClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, log_loss, mean_squared_error

In [69]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [70]:
X_train, X_valid, y_train, y_valid = train_test_split(X_scaled, y, test_size=0.3, stratify=y, random_state=42)

In [88]:
from sklearn.preprocessing import LabelEncoder

# Zakładam, że y_train i y_valid są dostępne globalnie

In [82]:
def compute_specificity(conf_mat):
    specificity = []
    for i in range(conf_mat.shape[0]):
        TP = conf_mat[i, i]
        FP = conf_mat[:, i].sum() - TP
        FN = conf_mat[i, :].sum() - TP
        TN = conf_mat.sum() - (TP + FP + FN)
        spec = TN / (TN + FP) if (TN + FP) > 0 else 0
        specificity.append(spec)
    return specificity

In [89]:
def objective(trial):
    # === Hiperparametry ===
    rf_n_estimators = trial.suggest_int("rf_n_estimators", 50, 150)
    rf_max_depth = trial.suggest_int("rf_max_depth", 3, 15)

    gb_n_estimators = trial.suggest_int("gb_n_estimators", 50, 150)
    gb_learning_rate = trial.suggest_float("gb_learning_rate", 0.01, 0.3)
    gb_max_depth = trial.suggest_int("gb_max_depth", 2, 10)

    svm_C = trial.suggest_float("svm_C", 0.1, 10.0, log=True)
    svm_kernel = trial.suggest_categorical("svm_kernel", ["linear", "rbf"])

    # === Modele ===
    clf_rf = RandomForestClassifier(n_estimators=rf_n_estimators, max_depth=rf_max_depth, random_state=42)
    clf_gb = GradientBoostingClassifier(n_estimators=gb_n_estimators, learning_rate=gb_learning_rate,
                                        max_depth=gb_max_depth, random_state=42)
    clf_svm = SVC(C=svm_C, kernel=svm_kernel, probability=True, random_state=42)

    # === Ensemble ===
    ensemble = VotingClassifier(
        estimators=[('rf', clf_rf), ('gb', clf_gb), ('svm', clf_svm)],
        voting='soft'
    )

    # === Label encoding ===
    le = LabelEncoder()
    y_train_enc = le.fit_transform(y_train)
    y_valid_enc = le.transform(y_valid)

    # === Trenowanie ===
    ensemble.fit(X_train, y_train_enc)
    y_pred = ensemble.predict(X_valid)
    y_proba = ensemble.predict_proba(X_valid)

    # === Metryki ===
    conf_mat = confusion_matrix(y_valid_enc, y_pred)
    acc = accuracy_score(y_valid_enc, y_pred)
    prec = precision_score(y_valid_enc, y_pred, average='macro', zero_division=0)
    rec = recall_score(y_valid_enc, y_pred, average='macro', zero_division=0)
    f1 = f1_score(y_valid_enc, y_pred, average='macro', zero_division=0)
    specificity_per_class = compute_specificity(conf_mat)
    specificity_avg = np.mean(specificity_per_class)
    mse = mean_squared_error(y_valid_enc, y_pred)
    rmse = np.sqrt(mse)
    logloss = log_loss(y_valid_enc, y_proba)

    # === Zapis do triala ===
    trial.set_user_attr("confusion_matrix", conf_mat)
    trial.set_user_attr("accuracy", acc)
    trial.set_user_attr("precision", prec)
    trial.set_user_attr("recall", rec)
    trial.set_user_attr("f1_score", f1)
    trial.set_user_attr("specificity_per_class", specificity_per_class)
    trial.set_user_attr("specificity_avg", specificity_avg)
    trial.set_user_attr("mse", mse)
    trial.set_user_attr("rmse", rmse)
    trial.set_user_attr("logloss", logloss)

    return f1  # Możesz też zwrócić acc jeśli wolisz optymalizować dokładność

In [90]:
import optuna

study = optuna.create_study(direction="maximize")
study.optimize(objective, n_trials=50)

[I 2025-06-18 10:59:08,556] A new study created in memory with name: no-name-c4e639aa-1739-4b74-8b3e-30d447c57e56
[I 2025-06-18 10:59:25,527] Trial 0 finished with value: 0.7891197643873374 and parameters: {'rf_n_estimators': 104, 'rf_max_depth': 4, 'gb_n_estimators': 120, 'gb_learning_rate': 0.1776079912053303, 'gb_max_depth': 10, 'svm_C': 0.4442488978896605, 'svm_kernel': 'linear'}. Best is trial 0 with value: 0.7891197643873374.
[I 2025-06-18 10:59:31,924] Trial 1 finished with value: 0.7638044093358618 and parameters: {'rf_n_estimators': 62, 'rf_max_depth': 6, 'gb_n_estimators': 91, 'gb_learning_rate': 0.16288741207178378, 'gb_max_depth': 7, 'svm_C': 0.17869324860829938, 'svm_kernel': 'linear'}. Best is trial 0 with value: 0.7891197643873374.
[I 2025-06-18 10:59:37,114] Trial 2 finished with value: 0.7364659064819774 and parameters: {'rf_n_estimators': 114, 'rf_max_depth': 13, 'gb_n_estimators': 149, 'gb_learning_rate': 0.08258300510746995, 'gb_max_depth': 4, 'svm_C': 6.714482104151227, 'svm_kernel': 'rbf'}. Best is trial 0 with value: 0.7891197643873374.
[I 2025-06-18 10:59:40,722] Trial 3 finished with value: 0.6443299517291843 and parameters: {'rf_n_estimators': 121, 'rf_max_depth': 7, 'gb_n_estimators': 149, 'gb_learning_rate': 0.13863098820487416, 'gb_max_depth': 2, 'svm_C': 0.11895704660431389, 'svm_kernel': 'rbf'}. Best is trial 0 with value: 0.7891197643873374.
[I 2025-06-18 10:59:53,131] Trial 4 finished with value: 0.792971764388591 and parameters: {'rf_n_estimators': 145, 'rf_max_depth': 13, 'gb_n_estimators': 71, 'gb_learning_rate': 0.07862816482551167, 'gb_max_depth': 9, 'svm_C': 8.54183868450914, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 10:59:57,169] Trial 5 finished with value: 0.7519745492376237 and parameters: {'rf_n_estimators': 97, 'rf_max_depth': 11, 'gb_n_estimators': 116, 'gb_learning_rate': 0.12940757414026488, 'gb_max_depth': 4, 'svm_C': 0.11689019028454985, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:00:06,398] Trial 6 finished with value: 0.7764951578324832 and parameters: {'rf_n_estimators': 110, 'rf_max_depth': 10, 'gb_n_estimators': 53, 'gb_learning_rate': 0.16718613397185264, 'gb_max_depth': 9, 'svm_C': 2.5650207813488675, 'svm_kernel': 'rbf'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:00:11,578] Trial 7 finished with value: 0.7846458201920381 and parameters: {'rf_n_estimators': 85, 'rf_max_depth': 6, 'gb_n_estimators': 124, 'gb_learning_rate': 0.27874635280889914, 'gb_max_depth': 5, 'svm_C': 0.8173578489550201, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:00:21,972] Trial 8 finished with value: 0.7682070016202298 and parameters: {'rf_n_estimators': 88, 'rf_max_depth': 10, 'gb_n_estimators': 150, 'gb_learning_rate': 0.12788651996661285, 'gb_max_depth': 7, 'svm_C': 1.145860936007425, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:00:24,197] Trial 9 finished with value: 0.6201024836651113 and parameters: {'rf_n_estimators': 126, 'rf_max_depth': 3, 'gb_n_estimators': 50, 'gb_learning_rate': 0.2779002146054434, 'gb_max_depth': 2, 'svm_C': 0.2256075749259905, 'svm_kernel': 'rbf'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:00:36,454] Trial 10 finished with value: 0.7789010682226101 and parameters: {'rf_n_estimators': 149, 'rf_max_depth': 15, 'gb_n_estimators': 76, 'gb_learning_rate': 0.02081098434065689, 'gb_max_depth': 9, 'svm_C': 8.70632645834478, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:00:48,592] Trial 11 finished with value: 0.7668845884370998 and parameters: {'rf_n_estimators': 146, 'rf_max_depth': 4, 'gb_n_estimators': 78, 'gb_learning_rate': 0.21363409737215042, 'gb_max_depth': 10, 'svm_C': 0.5256111753449274, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:01:07,081] Trial 12 finished with value: 0.781564069499578 and parameters: {'rf_n_estimators': 54, 'rf_max_depth': 13, 'gb_n_estimators': 111, 'gb_learning_rate': 0.06673149156919639, 'gb_max_depth': 10, 'svm_C': 2.5405814906284894, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:01:18,345] Trial 13 finished with value: 0.7662417902926619 and parameters: {'rf_n_estimators': 138, 'rf_max_depth': 8, 'gb_n_estimators': 129, 'gb_learning_rate': 0.22307066874047218, 'gb_max_depth': 8, 'svm_C': 0.3499756696824216, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:01:27,678] Trial 14 finished with value: 0.7834604546959837 and parameters: {'rf_n_estimators': 76, 'rf_max_depth': 15, 'gb_n_estimators': 94, 'gb_learning_rate': 0.07312906798175643, 'gb_max_depth': 8, 'svm_C': 1.850717615568738, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:01:41,183] Trial 15 finished with value: 0.7699902568246325 and parameters: {'rf_n_estimators': 132, 'rf_max_depth': 12, 'gb_n_estimators': 75, 'gb_learning_rate': 0.02115986827180793, 'gb_max_depth': 10, 'svm_C': 3.669276118876146, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:01:47,684] Trial 16 finished with value: 0.7622236343493369 and parameters: {'rf_n_estimators': 106, 'rf_max_depth': 5, 'gb_n_estimators': 64, 'gb_learning_rate': 0.20148701288380932, 'gb_max_depth': 8, 'svm_C': 0.5229953075467751, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:01:53,961] Trial 17 finished with value: 0.7648574154373657 and parameters: {'rf_n_estimators': 71, 'rf_max_depth': 9, 'gb_n_estimators': 105, 'gb_learning_rate': 0.10474706291882355, 'gb_max_depth': 6, 'svm_C': 4.826938914328735, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:02:11,704] Trial 18 finished with value: 0.771470889205105 and parameters: {'rf_n_estimators': 94, 'rf_max_depth': 3, 'gb_n_estimators': 128, 'gb_learning_rate': 0.04635039117831923, 'gb_max_depth': 9, 'svm_C': 1.264003926729993, 'svm_kernel': 'rbf'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:02:18,364] Trial 19 finished with value: 0.7770040662044181 and parameters: {'rf_n_estimators': 138, 'rf_max_depth': 8, 'gb_n_estimators': 85, 'gb_learning_rate': 0.18704122757153574, 'gb_max_depth': 7, 'svm_C': 0.6478154725286015, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:02:28,978] Trial 20 finished with value: 0.7748034033952569 and parameters: {'rf_n_estimators': 119, 'rf_max_depth': 13, 'gb_n_estimators': 65, 'gb_learning_rate': 0.24436728446927888, 'gb_max_depth': 10, 'svm_C': 0.322242020903882, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:02:34,300] Trial 21 finished with value: 0.7644209875727386 and parameters: {'rf_n_estimators': 78, 'rf_max_depth': 5, 'gb_n_estimators': 127, 'gb_learning_rate': 0.2345886414891718, 'gb_max_depth': 5, 'svm_C': 0.8113917912896116, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:02:39,448] Trial 22 finished with value: 0.778760675001708 and parameters: {'rf_n_estimators': 87, 'rf_max_depth': 6, 'gb_n_estimators': 119, 'gb_learning_rate': 0.28480543838801137, 'gb_max_depth': 5, 'svm_C': 1.5588128505742882, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:02:43,881] Trial 23 finished with value: 0.7655376332132746 and parameters: {'rf_n_estimators': 105, 'rf_max_depth': 4, 'gb_n_estimators': 136, 'gb_learning_rate': 0.2574411417110395, 'gb_max_depth': 4, 'svm_C': 0.8410733142899222, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:02:49,598] Trial 24 finished with value: 0.7567449332865148 and parameters: {'rf_n_estimators': 87, 'rf_max_depth': 7, 'gb_n_estimators': 103, 'gb_learning_rate': 0.10457768744371763, 'gb_max_depth': 6, 'svm_C': 0.3709422364105006, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:02:53,174] Trial 25 finished with value: 0.709406551702567 and parameters: {'rf_n_estimators': 64, 'rf_max_depth': 5, 'gb_n_estimators': 138, 'gb_learning_rate': 0.18151325852356467, 'gb_max_depth': 3, 'svm_C': 0.20864568811884854, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:02:58,498] Trial 26 finished with value: 0.7566743553533495 and parameters: {'rf_n_estimators': 81, 'rf_max_depth': 4, 'gb_n_estimators': 112, 'gb_learning_rate': 0.29911992562760564, 'gb_max_depth': 5, 'svm_C': 0.49321680420457925, 'svm_kernel': 'rbf'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:03:11,562] Trial 27 finished with value: 0.7634697333916085 and parameters: {'rf_n_estimators': 101, 'rf_max_depth': 6, 'gb_n_estimators': 98, 'gb_learning_rate': 0.1045737775249849, 'gb_max_depth': 9, 'svm_C': 1.9889734213889996, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:03:21,564] Trial 28 finished with value: 0.7823690005615969 and parameters: {'rf_n_estimators': 69, 'rf_max_depth': 8, 'gb_n_estimators': 121, 'gb_learning_rate': 0.26610663944761387, 'gb_max_depth': 8, 'svm_C': 0.8713369867258866, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:03:28,795] Trial 29 finished with value: 0.7878968253968254 and parameters: {'rf_n_estimators': 51, 'rf_max_depth': 14, 'gb_n_estimators': 87, 'gb_learning_rate': 0.14421870967018435, 'gb_max_depth': 7, 'svm_C': 4.354576266994588, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:03:35,790] Trial 30 finished with value: 0.7726579183994604 and parameters: {'rf_n_estimators': 52, 'rf_max_depth': 14, 'gb_n_estimators': 84, 'gb_learning_rate': 0.15645548521588834, 'gb_max_depth': 7, 'svm_C': 4.58422631016958, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:03:41,427] Trial 31 finished with value: 0.7319874834368543 and parameters: {'rf_n_estimators': 56, 'rf_max_depth': 14, 'gb_n_estimators': 68, 'gb_learning_rate': 0.04525101245071053, 'gb_max_depth': 6, 'svm_C': 7.825973967695049, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:03:54,781] Trial 32 finished with value: 0.7789113429899415 and parameters: {'rf_n_estimators': 62, 'rf_max_depth': 12, 'gb_n_estimators': 86, 'gb_learning_rate': 0.09050508889690323, 'gb_max_depth': 9, 'svm_C': 9.933188523779672, 'svm_kernel': 'linear'}. Best is trial 4 with value: 0.792971764388591.
[I 2025-06-18 11:04:02,775] Trial 33 finished with value: 0.7941862873779532 and parameters: {'rf_n_estimators': 113, 'rf_max_depth': 14, 'gb_n_estimators': 137, 'gb_learning_rate': 0.1411327039176411, 'gb_max_depth': 6, 'svm_C': 4.864959619487, 'svm_kernel': 'linear'}. Best is trial 33 with value: 0.7941862873779532.
[I 2025-06-18 11:04:13,055] Trial 34 finished with value: 0.7701108580984355 and parameters: {'rf_n_estimators': 116, 'rf_max_depth': 14, 'gb_n_estimators': 140, 'gb_learning_rate': 0.14581255103988758, 'gb_max_depth': 7, 'svm_C': 4.805078680098112, 'svm_kernel': 'rbf'}. Best is trial 33 with value: 0.7941862873779532.
[I 2025-06-18 11:04:17,902] Trial 35 finished with value: 0.7760699708355769 and parameters: {'rf_n_estimators': 124, 'rf_max_depth': 12, 'gb_n_estimators': 57, 'gb_learning_rate': 0.16913589366210963, 'gb_max_depth': 6, 'svm_C': 6.41617297696478, 'svm_kernel': 'linear'}. Best is trial 33 with value: 0.7941862873779532.
[I 2025-06-18 11:04:31,654] Trial 36 finished with value: 0.7731834585926332 and parameters: {'rf_n_estimators': 95, 'rf_max_depth': 11, 'gb_n_estimators': 143, 'gb_learning_rate': 0.12668914241717213, 'gb_max_depth': 8, 'svm_C': 3.513132732386017, 'svm_kernel': 'rbf'}. Best is trial 33 with value: 0.7941862873779532.
[I 2025-06-18 11:04:47,798] Trial 37 finished with value: 0.7920762928827445 and parameters: {'rf_n_estimators': 112, 'rf_max_depth': 13, 'gb_n_estimators': 92, 'gb_learning_rate': 0.13974542620335675, 'gb_max_depth': 10, 'svm_C': 6.282858092885128, 'svm_kernel': 'linear'}. Best is trial 33 with value: 0.7941862873779532.
[I 2025-06-18 11:05:08,599] Trial 38 finished with value: 0.7959333860176968 and parameters: {'rf_n_estimators': 111, 'rf_max_depth': 11, 'gb_n_estimators': 133, 'gb_learning_rate': 0.12023772899750314, 'gb_max_depth': 10, 'svm_C': 0.1515429721194123, 'svm_kernel': 'linear'}. Best is trial 38 with value: 0.7959333860176968.
[I 2025-06-18 11:05:29,985] Trial 39 finished with value: 0.7811763405628482 and parameters: {'rf_n_estimators': 112, 'rf_max_depth': 11, 'gb_n_estimators': 132, 'gb_learning_rate': 0.11833537436375971, 'gb_max_depth': 10, 'svm_C': 7.073427840224752, 'svm_kernel': 'linear'}. Best is trial 38 with value: 0.7959333860176968.
[I 2025-06-18 11:05:48,237] Trial 40 finished with value: 0.7667713291027676 and parameters: {'rf_n_estimators': 129, 'rf_max_depth': 13, 'gb_n_estimators': 146, 'gb_learning_rate': 0.09149099544819253, 'gb_max_depth': 9, 'svm_C': 0.13855549183112148, 'svm_kernel': 'linear'}. Best is trial 38 with value: 0.7959333860176968.
[I 2025-06-18 11:06:06,523] Trial 41 finished with value: 0.7806350101269053 and parameters: {'rf_n_estimators': 109, 'rf_max_depth': 10, 'gb_n_estimators': 135, 'gb_learning_rate': 0.16877078008076613, 'gb_max_depth': 10, 'svm_C': 6.1595253878818506, 'svm_kernel': 'linear'}. Best is trial 38 with value: 0.7959333860176968.
[I 2025-06-18 11:06:25,502] Trial 42 finished with value: 0.7829347712536094 and parameters: {'rf_n_estimators': 101, 'rf_max_depth': 12, 'gb_n_estimators': 124, 'gb_learning_rate': 0.13738464383034812, 'gb_max_depth': 10, 'svm_C': 0.14360593118321036, 'svm_kernel': 'linear'}. Best is trial 38 with value: 0.7959333860176968.
[I 2025-06-18 11:06:40,123] Trial 43 finished with value: 0.7803457489453227 and parameters: {'rf_n_estimators': 117, 'rf_max_depth': 15, 'gb_n_estimators': 113, 'gb_learning_rate': 0.11764754700840327, 'gb_max_depth': 9, 'svm_C': 0.2773233076065732, 'svm_kernel': 'linear'}. Best is trial 38 with value: 0.7959333860176968.
[I 2025-06-18 11:06:56,569] Trial 44 finished with value: 0.7845658706366057 and parameters: {'rf_n_estimators': 142, 'rf_max_depth': 13, 'gb_n_estimators': 94, 'gb_learning_rate': 0.14930221110683495, 'gb_max_depth': 10, 'svm_C': 3.0156030239169076, 'svm_kernel': 'rbf'}. Best is trial 38 with value: 0.7959333860176968.
[I 2025-06-18 11:07:10,763] Trial 45 finished with value: 0.7819308295305472 and parameters: {'rf_n_estimators': 121, 'rf_max_depth': 11, 'gb_n_estimators': 106, 'gb_learning_rate': 0.1844141872661513, 'gb_max_depth': 9, 'svm_C': 9.809308146690007, 'svm_kernel': 'linear'}. Best is trial 38 with value: 0.7959333860176968.
[I 2025-06-18 11:07:33,396] Trial 46 finished with value: 0.7876785867164782 and parameters: {'rf_n_estimators': 92, 'rf_max_depth': 9, 'gb_n_estimators': 117, 'gb_learning_rate': 0.07046642358835091, 'gb_max_depth': 10, 'svm_C': 5.651355358811653, 'svm_kernel': 'linear'}. Best is trial 38 with value: 0.7959333860176968.
[I 2025-06-18 11:07:43,817] Trial 47 finished with value: 0.7936722094991537 and parameters: {'rf_n_estimators': 134, 'rf_max_depth': 12, 'gb_n_estimators': 72, 'gb_learning_rate': 0.20380952396068816, 'gb_max_depth': 9, 'svm_C': 0.17890575336754752, 'svm_kernel': 'linear'}. Best is trial 38 with value: 0.7959333860176968.
[I 2025-06-18 11:07:54,463] Trial 48 finished with value: 0.7712268048288362 and parameters: {'rf_n_estimators': 136, 'rf_max_depth': 12, 'gb_n_estimators': 73, 'gb_learning_rate': 0.205955816393601, 'gb_max_depth': 9, 'svm_C': 0.19354213188800598, 'svm_kernel': 'linear'}. Best is trial 38 with value: 0.7959333860176968.
[I 2025-06-18 11:08:03,527] Trial 49 finished with value: 0.7853858187907632 and parameters: {'rf_n_estimators': 143, 'rf_max_depth': 13, 'gb_n_estimators': 80, 'gb_learning_rate': 0.1952112376119699, 'gb_max_depth': 8, 'svm_C': 0.1578539127948786, 'svm_kernel': 'linear'}. Best is trial 38 with value: 0.7959333860176968.

In [91]:
best_params = study.best_trial.params

print("🎯 Najlepsze hiperparametry:")
for param, value in best_params.items():
    print(f"{param}: {value}")

🎯 Najlepsze hiperparametry:
rf_n_estimators: 111
rf_max_depth: 11
gb_n_estimators: 133
gb_learning_rate: 0.12023772899750314
gb_max_depth: 10
svm_C: 0.1515429721194123
svm_kernel: linear

In [92]:
best_trial = study.best_trial

print("\n📊 Metryki najlepszej próby:")
print(f"F1-score (optimum): {best_trial.value:.4f}")
print(f"Accuracy: {best_trial.user_attrs['accuracy']:.4f}")
print(f"Precision (macro): {best_trial.user_attrs['precision']:.4f}")
print(f"Recall / Sensitivity (macro): {best_trial.user_attrs['recall']:.4f}")
print(f"Specificity (avg): {best_trial.user_attrs['specificity_avg']:.4f}")
print(f"MSE: {best_trial.user_attrs['mse']:.4f}")
print(f"RMSE: {best_trial.user_attrs['rmse']:.4f}")
print(f"LogLoss: {best_trial.user_attrs['logloss']:.4f}")

print("\n🧮 Confusion Matrix:")
print(np.array(best_trial.user_attrs["confusion_matrix"]))

📊 Metryki najlepszej próby:
F1-score (optimum): 0.7959
Accuracy: 0.8248
Precision (macro): 0.8643
Recall / Sensitivity (macro): 0.7534
Specificity (avg): 0.9268
MSE: 0.2057
RMSE: 0.4535
LogLoss: 0.5122

🧮 Confusion Matrix:
[[219  28   1   0]
 [ 28 141   1   0]
 [  1  21  27   0]
 [  0   3   3  18]]

In [71]:
# # Definicja klasyfikatorów
# svm_clf = SVC(probability=True, kernel='rbf', random_state=42)
# rf_clf = RandomForestClassifier(n_estimators=100, random_state=42)
# gb_clf = GradientBoostingClassifier(n_estimators=100, random_state=42)

In [72]:
# Model zespołowy VotingClassifier
# ensemble_clf = VotingClassifier(
#     estimators=[('svm', svm_clf), ('rf', rf_clf), ('gb', gb_clf)],
#     voting='soft'
# )

In [73]:
# ensemble_clf.fit(X_train, y_train)

In [74]:
# y_pred = ensemble_clf.predict(X_test)

In [75]:
# # Predykcje klasowe i probabilistyczne
# y_pred = ensemble_clf.predict(X_test)
# y_proba = ensemble_clf.predict_proba(X_test)  # potrzebne do LogLoss

In [76]:

# # Macierz pomyłek
# cm = confusion_matrix(y_test, y_pred)
# print("Macierz pomyłek:\n", cm)

In [77]:
# # Obliczamy metryki na poziomie makro (średnia po klasach)
# accuracy = accuracy_score(y_test, y_pred)
# precision = precision_score(y_test, y_pred, average='macro')
# recall = recall_score(y_test, y_pred, average='macro')
# f1 = f1_score(y_test, y_pred, average='macro')

# print(f"Accuracy: {accuracy:.4f}")
# print(f"Precision (macro): {precision:.4f}")
# print(f"Recall / Sensitivity (macro): {recall:.4f}")
# print(f"F1-score (macro): {f1:.4f}")

In [78]:
# specificity_per_class = []
# for i in range(len(cm)):
#     TP = cm[i, i]
#     FP = cm[:, i].sum() - TP
#     FN = cm[i, :].sum() - TP
#     TN = cm.sum() - (TP + FP + FN)
#     specificity = TN / (TN + FP) if (TN + FP) > 0 else 0
#     specificity_per_class.append(specificity)

# print("Specificity per class:", specificity_per_class)
# print(f"Average specificity: {np.mean(specificity_per_class):.4f}")

In [79]:
# # Konwersja etykiet na numeryczne, jeśli trzeba
# from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()
# y_test_num = le.fit_transform(y_test)
# y_pred_num = le.transform(y_pred)

# mse = mean_squared_error(y_test_num, y_pred_num)
# rmse = np.sqrt(mse)

# print(f"MSE: {mse:.4f}")
# print(f"RMSE: {rmse:.4f}")

In [80]:
# # LogLoss (wymaga y_test w formie numerycznej oraz prawdopodobieństw z modelu)
# logloss = log_loss(y_test_num, y_proba)
# print(f"LogLoss: {logloss:.4f}")

In [81]:
import optuna

c:\Users\sylwia\miniconda3\envs\master_thesis_python_3_13\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm